.site-wrapper
{
	margin:0px auto;
	background-color:#fff;
}
/*.blog-breadcrumbs
{
	background: url(../images/blog-breadcrumb.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}*/
.blog-breadcrumbs
{
	position: relative;
	display: block;
}
.blog-breadcrumbs:before
{
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
}
.blog-breadcrumbs img
{
	width: 100%;
}
.blog-breadcrumbs ul
{
	position: absolute;
	top: 30px;
	text-align: center;
}
.blog-breadcrumbs ul
{
	display: inline-block;
	list-style: none;
}
.blog-breadcrumbs ul > li
{
	float: left;
}

.blog-breadcrumbs ul > li a
{
	color: #fff;
    padding-right: 8px;
    font-size: 15px;
}
.blog-main
{
	padding: 60px 0 30px;
}
.blog-main img
{
	width:  100%;
}
.blog-main-blw
{
	padding: 10px 0 60px;
}
.blog-main-content
{
	padding: 30px 58px;
}
.blog-main-content h3
{	
 	color: #222;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    padding-bottom: 10px;
}
.blog-main-content p
{
	font-size: 16px;  
  text-align: justify;
  line-height: 30px;
}
.blog-blw-bx
{
	border: 1px solid #ddd;
}
.blog-blw-bx img
{
	width:  100%;
}

.blog-blw-bx-down
{
	text-align: center;
	padding: 25px 30px;
}
.blog-blw-bx-down h1
{
    font-size: 20px;
    text-transform: uppercase	;
    color: #444;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 0;
}
.blog-blw-bx-down h4
{	
 	color: #419ead;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}
.blog-blw-bx-down p
{
	text-align: justify;
    color: #777;
    line-height: 22px;
    font-size: 15px;
}
/**/
.page {
  display: none;
}
.page-active {
  display: block;
}
.blog-main-blw .pagination > .active > a
{
	background: #ed1d24;
	border-color: #ed1d24;
	color: #fff;
}
.blog-pagination
{
	text-align: center;
}
.blog-pagination .pagination
{
    margin: 45px 0 20px;
}
.blog-pagination .pagination > li > a
{
	color:  #333;
}
/**/
.blog-menu .navbar-nav > li > a {
    color: #222;
    font-size: 20px;
    font-weight: 600;
    text-transform: none;
    padding-left: 20px;
    padding-right: 20px;
}
.blog-menu .dropdown-menu
{
	min-width: 200px;
}


.blog-menu .navbar-nav
{
 width: 100%;
  text-align: center; 
}

.blog-menu .dropdown-menu > li.kopie > a {
   text-decoration: none;
}
 .blog-menu .navbar-nav > li > .caret{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: 5px;
    float: right;
  }
.blog-menu .dropdown-submenu {
    position:relative;
}
.blog-menu .dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.blog-menu .dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.blog-menu .dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.blog-menu .dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: none;
} 
@media screen and (min-width:1200px){
  .blog-menu .navbar-nav > li > .caret{
    display: none;
  }
}
@media screen and (min-width: 992px){
  
  .blog-menu .navbar-header
  {
  display: none;
  }
  .blog-menu .navbar-nav li{
    float: none;
    display: inline-block;
  }
}
@media screen and (max-width: 991px){
  .content-wrapper .page-content{padding-top: 0px;}
  .blog-menu .navbar-header{
    padding: 0 15px;
    background: #f9f9f9;
  }
  .blog-menu .navbar-header .navbar-brand{
  height:auto;
  line-height: 45px;
  }
  .blog-menu .navbar-nav > li > a{
    color:#fff;
    text-align: left;
    max-width: 50%;
    display: block!important;
    border: none;
  }
  .blog-menu .navbar-nav li{
    border-bottom: 1px dotted rgba(255, 255, 255, 0.07);
  }
  .blog-menu .navbar-nav > li > .caret{   
    top: 50%;
    margin-top: 5px;
  
  }
}
@media (max-width: 767px) {
  .blog-menu .navbar-nav  {
     display: inline;
  }
  .blog-menu .navbar-default .navbar-brand {
    display: inline;
  }
  .blog-menu .navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
  }
  .blog-menu .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
  .blog-menu .navbar-toggle
  {
	border-color: #666;
  }
  .blog-menu .navbar-brand
  {
	color: #333;
  }
   .blog-menu .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .blog-menu .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .blog-menu .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .blog-menu .navbar-nav .open .dropdown-menu {
    
     border-radius: 0;
   }
  .blog-menu .dropdown-menu {
      padding-left: 10px;
  }
  .blog-menu .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .blog-menu .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   .blog-menu li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  .blog-menu ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  .blog-menu #navbar {
    text-align: center;
  }
  
} 
