.search-autocomplete {
  display: none;
  position: absolute;
  z-index: 3;
  right: 15px;
  left: 15px;
  width: auto !important;
  top: 100%;
}
.search-autocomplete ul:not(:empty) {
  background: #fff;
  border-top: 1px solid #efefef;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.search-autocomplete ul li {
  border-bottom: 1px solid #efefef;
  cursor: pointer;
  margin: 0;
  padding: 5px 40px 5px 10px;
  position: relative;
  text-align: left;
  white-space: nowrap;
}
.search-autocomplete ul li:last-child {
  border-bottom: none;
}
.search-autocomplete ul li:hover,
.search-autocomplete ul li.selected {
  background-color: #222;
  border-color: #222;
  color: #fff;
}
.search-autocomplete ul li .amount {
  color: #9e763f;
  position: absolute;
  right: 7px;
  top: 7px;
  white-space: nowrap;
}
.search-autocomplete ul li .amount:before {
  content: "(";
}
.search-autocomplete ul li .amount:after {
  content: ")";
}
.header .top-links ul{
    margin:0;
    padding: 0;
}
.header .top-links li{
	float: left;
    padding: 18px 0px 19px;
    position: relative;
}
.header .top-links ul li+li {
    margin-left: 15px;
}
.header .top-links li.menu-icon{
    padding-left: 25px;
    vertical-align: middle;
}
.header .top-links li.mobile{font-size: 12px;}
.header .top-links li a{
    color: #c6aa4e;
}
.header .top-links li span{
    position: absolute;
    left: -5px;
    top: 20px;
}
.header .table-icon-menu {
    display: table;
    position: relative;
}
.header .table-icon-menu>div {
    display: table-cell;
    vertical-align: middle;
    padding: 23px 0px 23px;
}
.header .table-icon-menu>div+div{
    margin-left:15px;
}
.header .search-form .actions-search .action-search {
  background: none;
  border: none;
  display: block;
  position: relative;
  /* line-height: normal; */
}
.header .search-form .actions-search .action-search:hover {
  color: #9e763f;
}
.header .search-form .form-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.95);
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
      width: 100%;
    height: 100vh;
}
.header .search-form .form-search .form.minisearch {
  max-width: 580px;
  margin: 0 auto;
  padding: 15px;
  margin-top: 130px;
}
.header .search-form .form-search .form.minisearch .input-text {
  border: 0;
  background: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  padding: 0;
  text-align: center;
  font-size: 20px;
  color: #fff;
  box-shadow: none;
  letter-spacing: 2px;
}
.header .search-form .form-search .form.minisearch .button {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.header .search-form.select-search .form-search .form.minisearch {
  display: table;
  width: 100%;
  position: relative;
  padding-bottom: 0;
}
.header .search-form.select-search .form-search .form.minisearch .search-select .dropdown {
  position: static;
}
.header .search-form.select-search .form-search .form.minisearch .search-select .search-toggle {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  background: transparent;
  font-size: 20px;
  padding: 0 10px;
  white-space: nowrap;
  height: 40px;
}
.header .search-form.select-search .form-search .form.minisearch .search-select .dropdown-menu {
  left: 15px;
  right: 15px;
  max-height: 266px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}
.header .search-form.select-search .form-search .form.minisearch .search-select .dropdown-menu li a {
  font-size: 14px;
  font-weight: 400;
  color: #878787;
  padding: 8px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.header .search-form.select-search .form-search .form.minisearch .search-select .dropdown-menu li a:hover {
  background: none;
  color: #9e763f;
}
.header .search-close {
  position: absolute;
  right: 20px;
  top: 40px;
  color: #fff;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  font-size: 60px;
  transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    outline: none;
}
.header .search-close i {
  display: block;
}
.header .search-close:hover {
  color: #01bad4;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.header .table-icon-menu .search-icon{
    color: #c6aa4e;
}
.header .table-icon-menu .search-icon i{
    font-size: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.header .table-icon-menu .search-icon span{   
    text-transform: uppercase;
    margin-left: 25px;
    font-size: 12px;
    letter-spacing: 0.03em;
    margin-right: 5px;
}
/* input se IOS */
.header .search-form.select-search .form-search .form.minisearch {
  display: block;
  position: fixed;
  top: 0;
}
.header .search-form .form-search .form.minisearch .input-text {
  position: fixed;
  left: 0;
  right: 0;
}
.search-open:not(.search-not-full) {
  overflow: hidden;
}
.search-open .header .search-form .form-search {
  opacity: 1;
  visibility: visible;
}
.auto-width{width:auto;}
.switcher-language .switcher-toggle {
    background: transparent;
    border: none;
    outline: none!important;
    box-shadow: none!important;
}
.switcher-language .switcher-toggle span {
    color: #c6aa4e;
    margin-left: 5px;
}
.switcher-language .dropdown-menu{
    min-width:140px;
}

.rounded-border{
    border-radius: 50%;
    border: 1px solid #c6aa4e;
    padding: 4px;
    
}
.icon-size-16{
    font-size: 16px;
    line-height: 16px;
}
.icon-size-18{
    font-size: 18px;
    line-height: 18px;
}
.icon-size-25{
    font-size: 25px;
    line-height: 25px;
}
.sidenav a:last-child{
    border-bottom:0.5px solid #ccc;
    border-color: #ccc;
    margin-top: 18px;
    border: 0.5px solid;
    padding: 15px 10px;
}
.dropdown-menu.fullwidth .nav-header{
      padding: 0 !important;
      margin-bottom: 10px;
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #ddd;
}
 .dropdown-menu.fullwidth .nav-header a{padding-bottom: 7px; }
.menu-banner {
  position: relative;
  overflow: hidden;
  padding:10px;
  min-height:260px;
}
.menu-banner:after {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  z-index: 1;
  content: "";
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
}
.menu-banner .text {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 2;
}
.menu-banner:hover:after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.menu-banner .btn-text {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 85%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 2;
}
.menu-banner .btn-text .btn-default2 {
  color: #060606;
  border: 2px solid #0c0c0c;
}
.menu-banner:hover:after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.menu-banner img {
  min-width: 100%;
  height:auto;
}
.breadcrumbs {
    font-size: 13px;
    padding: 18px 0 13px;
}
.breadcrumbs .items>li {
    float: left;
}
.breadcrumbs .items>li+li:before {
    content:"/";
    color: #878787;    
    padding: 0 8px;
}
.breadcrumbs .items:after {
    content: "";
    display: table;
    clear: both;
}
.content-heading {
    text-align: center;
    margin-bottom: 33px;
}
.content-heading h2.title, .content-heading h3.title {
    display: inline-block;
    position: relative;
    color: #000;
    line-height: 24px;
}
.content-heading h2.title {
    font-size: 24px;
    text-transform: uppercase;
}
.content-heading h2.title:before, .content-heading h3.title:before, .content-heading h2.title:after, .content-heading h3.title:after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: #000;
    top: 48%;
}
.content-heading h2.title:before, .content-heading h3.title:before {
    left: -75px;
}
.content-heading h2.title:after, .content-heading h3.title:after {
    right: -75px;
}
.content h3{
    font-size:20px;
}
.pad-right0 {
    padding-right: 0px;
}
.pad-left0 {
    padding-left: 0px;
}
.content {
    padding-bottom: 40px;
}
.cms-home .content{
  padding-bottom: 0px;
}
.details{padding:40px;}
.promoimage {
    overflow: hidden;
}
.promoimage-animated > img {
    animation: crZoomInOut 20s ease-in-out infinite both;
}
.promoimage img {
    width: 100%;
}

/**
Animations
*/

@-webkit-keyframes crZoomInOut{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes crZoomInOut{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}



@-webkit-keyframes crZoomInOutInvisible{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.6);
        opacity: 0;
    }
}

@keyframes crZoomInOutInvisible{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.6);
        opacity: 0;
    }
}



@-webkit-keyframes crFadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 30px, 0);
		transform: translate3d(0, 30px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes crFadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 30px, 0);
		transform: translate3d(0, 30px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}


@-webkit-keyframes crSlideInDown{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes crSlideInDown{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}



@-webkit-keyframes crBounceIn {
    20%,
    40%,
    60%,
    80%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes crBounceIn {
    20%,
    40%,
    60%,
    80%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}
.seperator{position: relative;min-height: 180px;}
.seperator h4 {
    text-align: center;
    position: relative;
    top: 75px;
}
.seperator::before{
    content: '';
    position: absolute;
    left: 0px;
    top: auto;
    background: url('../images/seperator-before.png') no-repeat center center;
    height:70px;
    width:100%;
}
.seperator::after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: url('../images/seperator-after.png') no-repeat center center;
    height:70px;
    width:100%;
}
.pad-top15{
    padding-top: 15px;
}
.pad-bottom75{
    padding-bottom: 75px;
}
.mr-top20{
    margin-top:20px;
}
.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-page .breadcrumbs{
    position: absolute;
    left:0;
    width:100%;
    z-index: 10;
}
.contact-bg .contact_area {
    padding-top: 40px;
    min-height: 100vh;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    background-size: cover;
    padding-bottom: 40px;
    background-position: center top;
}
.contact-bg .contact_area p, .contact-bg .contact_area address {
    color: #000;
    margin-top: 20px;
}
.contact-bg .contact_area a.btn {
    border-radius: 5px;
}
.contact-form-content{
    padding: 40px 0px;
}
.actions-toolbar button {
    border-radius: 0;
}
.contact-collection .contact_area>.container, .contact-collection .contact_area>.container-fluid {
    z-index: 1;
    margin: auto;
}
.contact-collection .parallax > .background-image{
    top: -100vh;
}
.newsletter-signup{padding-bottom: 40px;}
.newsletter-signup input[type="text"],
.newsletter-signup input[type="email"]{
    border-radius:5px;
}
.newsletter-signup .btn{
    margin-bottom: 15px;
    margin-top: 0;
}
.newsletter-signup .form-inline>div+div {
    margin-left: 15px;
}
ul.footer-menu{
    float: none;
    padding: 0;
    margin: 0;
}
.footer-menu li{
    float: left;
    padding: 0px 15px;
    line-height: 18px;
}
@media (min-width: 992px) {
  .min-width-600{
    min-width:600px;
  }
}