.fullwidth{width:100%;}
.img-full{width:100%;}
.header_promo{
  position: relative;
  /* float: left; */
  width: 100%;
  z-index: 110;
  max-height: 45px;
}
.header_promo{display: block;}
.header_promo.promo{display:none;}
.header_promo .alert{
  padding:10px 30px;
  border-radius: 0;
  margin-bottom: 0;
}
.header_promo .close{
    line-height: normal;
    
}
.header_promo .promo-offer{border-right: 1px solid #000;}
.header_promo .promo-offer:last-child{border-right: none;}

.header_promo .promo-offer ~ .promo-offer,
.header_promo .promo-offer + .promo-offer {
    border-right: 1px solid #000;
    padding-left:15px;
}
.header_promo .promo-offer ~ .promo-offer:last-child, .header_promo .promo-offer + .promo-offer:last-child {
    border-right: none;
}

.header_promo .promo-offer .promo-text{
  padding-left:10px;
}
.header_promo .promo-offer .promo-text .promo-code {
    border: 1px dashed #2b542d;
    padding: 5px;
}
.header_promo .alert span ~ span, .header_promo .alert span + span{
  padding: 0 10px 0 0;
}
.header_promo .alert span ~ a, .header_promo .alert span + a{
  margin-right:10px;
  border-bottom: 1px dashed #2b542d;
}
.header_promo .close:focus{
  outline: none;
}
.header_promo + .header .nav-down{
  top: 0px;
  position: relative;
  width:  100%;
}
.header_promo.promo + .header .nav-down{
  position: fixed;
  top:0;
  width: 100%;
}
.header_promo + .header .nav-down .form-search{
  top:-45px;
}
.header_promo.promo + .header .nav-down .form-search{
  top:0px;
}
.cms-home .header_promo ~ .content{
  padding: 50px 0px 0px;
  padding-top: 0;
}
:not(.cms-home) .header_promo.promo ~ .content{
  padding: 0px;
}
.cms-home .header_promo ~ .header .navbar{
  background: transparent;
}
.cms-home .header_promo ~ .header .navbar{
  position: absolute;
}
.cms-home .header_promo.promo ~ .header .navbar{
 position: fixed;
}
.cms-page-view .header_promo ~ .header .nav-down.nav-small{
  position: fixed;
  top:0;
  width:100%;
}
.header_promo + .header ~ .breadcrumbs{
  top:120px;
}
.header_promo.promo + .header ~ .breadcrumbs{
  top:80px;
}
.header_promo + .header ~ .breadcrumbs + div {
  padding-top: 60px;
}
.header_promo.promo + .header ~ .breadcrumbs + div {
  padding-top: 130px;
}
.header_promo + .header ~ .breadcrumbs + .content-wrapper{
    padding-top: 0px;
}
.header_promo.promo + .header ~ .breadcrumbs + .content-wrapper{
    padding-top: 72px;
}
.cms-contact .header_promo + .header ~ .breadcrumbs + .content-wrapper{
  padding: 0;
}
.header{
  /* float: left; */
  position: relative;
  display: block;
  width:100%;
}
.search-autocomplete {
  display: none;
  position: absolute;
  z-index: 3;
  right: 15px;
  left: 15px;
  width: auto;
  min-height: 100px;
  max-height: 350px;
  top: 100%;
  background: #fff;
}
.search-autocomplete .search-title{
  background: #9a723b;
  color:#fff;
  font-size: 16px;
  padding: 5px 10px;
  
}
.search-autocomplete .search-title strong{
  font-weight: 400;
}
.search-autocomplete ul li {
  border-bottom: 1px solid #efefef;
  cursor: pointer;
  margin: 0;
  padding: 5px 40px 5px 10px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
    font-size: 14px;
}
.search-autocomplete ul li:last-child {
  border-bottom: none;
}
.search-autocomplete ul li:hover,
.search-autocomplete ul li.selected {
  background-color: #222;
  border-color: #222;
  color: #fff;
}
.search-autocomplete ul li .amount {
  color: #9e763f;
  position: absolute;
  right: 7px;
  top: 7px;
  white-space: nowrap;
}
.search-autocomplete ul li .amount:before {
  content: "(";
}
.search-autocomplete ul li .amount:after {
  content: ")";
}
.header .top-links ul{
    margin:0;
    padding: 0;
}
.header .top-links li{
  float: left;
    padding: 18px 0px 19px;
    position: relative;
}
.header .top-links ul li+li {
    margin-left: 15px;
}
.header .top-links li.menu-icon{
    padding-left: 25px;
    vertical-align: middle;
}
.header .top-links li.mobile{font-size: 12px;}
.header .top-links li a{
    color: #c6aa4e;
}
.header .top-links li span{
    position: absolute;
    left: -5px;
    top: 23px;
}

.header .table-icon-menu {
    display: table;
    position: relative;
    float: right;
}
.header .table-icon-menu>div {
    display: table-cell;
    vertical-align: middle;
    padding: 23px 0px 23px;
}
.header .table-icon-menu>div+div{
    margin-left:15px;
}
.header .search-form .actions-search .action-search {
  background: none;
  border: none;
  display: block;
  position: relative;
  /* line-height: normal; */
}
.header .search-form .actions-search .action-search:hover {
  color: #9e763f;
}
.header .search-form .form-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.95);
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
      width: 100%;
    height: 100vh;
}
.header .search-form .form-search {
  display: flex;
  min-height: 100vh;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  overflow: hidden;
}
.header .form-search > .container{
  z-index: 9999;
  margin: 5em auto auto;
  max-width: 980px;
}
/* .search-form .form-search .form-header {
    position: relative;
} */
.header .search-form .form-search h4.title{
  color: #fff;
  padding: 0 15px;
}
.header .search-form .form-search .form.minisearch {
  /* max-width: 580px;
  margin: 0 auto; */
  padding: 15px;
  margin-top: 60px;
  position: relative;
}
.header .search-form .form-search .form.minisearch .input-text {
  border: 0;
  background: none;
  border-bottom: 1px solid rgba(255, 255, 255);
  padding: 0;
  text-align: left;
  font-size: 20px;
  color: #fff;
  box-shadow: none;
  letter-spacing: 2px;
}
.header .search-form .form-search .form.minisearch .button {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.searchsubmit {
font-family: 'Pe-icon-7-stroke';
border: 1px solid #dadada;
font-size: 30px;
position: absolute;
top: 10px;
right: 15px;
display: inline-block;
border: none;
color: #5d3250;
cursor: hand;
 cursor: pointer;
}
.searchsubmit::before{
    content: "\e618";
    color: #fff;
}
.searchsubmit input{
  background: none;
  border: none;
  border-radius: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  line-height: 50px;
}
.header .search-form.select-search .form-search .form.minisearch {
  display: table;
  width: 100%;
  position: relative;
  padding-bottom: 0;
}
.header .search-form.select-search .form-search .form.minisearch .search-select .dropdown {
  position: static;
}
.header .search-form.select-search .form-search .form.minisearch .search-select .search-toggle {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  background: transparent;
  font-size: 20px;
  padding: 0 10px;
  white-space: nowrap;
  height: 40px;
}
.header .search-form.select-search .form-search .form.minisearch .search-select .dropdown-menu {
  left: 15px;
  right: 15px;
  max-height: 266px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}
.header .search-form.select-search .form-search .form.minisearch .search-select .dropdown-menu li a {
  font-size: 14px;
  font-weight: 400;
  color: #878787;
  padding: 8px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.header .search-form.select-search .form-search .form.minisearch .search-select .dropdown-menu li a:hover {
  background: none;
  color: #9e763f;
}
.header .search-close {
  position: absolute;
  right: 20px;
  top: 40px;
  color: #fff;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  font-size: 60px;
  transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    outline: none;
}
.header .search-close{
  right: 0.4em;
  top: 0;
}
.header .search-close i {
  display: block;
}
.header .search-close:hover {
  color: #01bad4;
  /* transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg); */
}
.header .table-icon-menu .search-icon{
    color: #c6aa4e;
}
.header .table-icon-menu .search-icon i{
    font-size: 20px;
    position: absolute;
    left: 0px;
}
.header .table-icon-menu .search-icon span{   
    text-transform: uppercase;
    margin-left: 25px;
    font-size: 12px;
    letter-spacing: 0.03em;
    margin-right: 5px;
}
/* input se IOS */
.header .search-form.select-search .form-search .form.minisearch {
  display: block;
  position: fixed;
  top: 0;
}
.header .search-form .form-search .form.minisearch .input-text {
  position: relative;
  left: 0;
  right: 0;
}
.search-open:not(.search-not-full) {
  overflow: hidden;
}
.search-open .header .search-form .form-search {
  opacity: 1;
  visibility: visible;
}


.rounded-border{
    border-radius: 50%;
    border: 1px solid #c6aa4e;
    padding: 4px;
    
}
.icon-size-16{
    font-size: 16px;
    line-height: 16px;
}
.icon-size-18{
    font-size: 18px;
    line-height: 18px;
}
.icon-size-25{
    font-size: 25px;
    line-height: 25px;
}
/*.sidenav a:last-child{
    border-bottom:0.5px solid #ccc;
    border-color: #ccc;
    margin-top: 18px;
    border: 0.5px solid;
    padding: 15px 10px;
}*/
.sidenav.open .buttons a.btn {    
    border: 1px solid;
    margin-top: 15px;
    padding: 0;
}
.dropdown-menu.fullwidth .nav-header{
      padding: 0 !important;
      margin-bottom: 10px;
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #ddd;
}
 .dropdown-menu.fullwidth .nav-header a{padding-bottom: 7px; }
.menu-banner {
  position: relative;
  overflow: hidden;
  padding:10px;
  min-height:260px;
}
.menu-banner:after {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  z-index: 1;
  content: "";
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
}
.menu-banner .text {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 2;
}
.menu-banner:hover:after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.menu-banner .btn-text {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 85%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 2;
}
.menu-banner .btn-text .btn-default2 {
  color: #060606;
  border: 2px solid #0c0c0c;
}
.menu-banner:hover:after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.menu-banner img {
  min-width: 100%;
  height:auto;
}
.breadcrumbs {
    font-size: 13px;
    padding: 12px 0 13px;
    background: #ffffff;
}
.cms-page-view .breadcrumbs{  
    position: absolute;
    overflow: hidden;
    width: 100%;
    display: block;
    z-index: 110;
    background: transparent;

}
.cms-member-subscribe .breadcrumbs{
    position: absolute;
    top:70px;
    left:0;
    z-index: 10;
    background: transparent;
}

.breadcrumbs .items>li {
    float: left;
    color: #9b733d;
}
.breadcrumbs .items>li a{
  color: #333;
}
.breadcrumbs .items>li+li:before {
    content:"/";
    color: #878787;    
    padding: 0 8px;
}
.breadcrumbs .items:after {
    content: "";
    display: table;
    clear: both;
}
.brand.breadcrumbs{
  background: transparent;
  position: absolute;
  top: 0px;
  z-index: 10;
}
.page-title-wrapper{
  position: relative;

}
.page-title-wrapper>.parallax{
  padding-top: 40px;
  min-height: 50vh;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  position: relative;
  background-size: cover;
  padding-bottom: 40px;
  background-position: center top;
}
.page-title-wrapper>.parallax > .background-image{
  top:0px;
  background-attachment: scroll;
  height:100%;
  background-clip: content-box, border-box;
  background-origin: content-box, border-box;
  background-position: left top!important;
}

.page-title-wrapper>.parallax > .container, .page-title-wrapper>.parallax > .container-fluid {
    z-index: 1;
    margin: 0 auto;
}
.cms-page-view .page-title-wrapper{
  width: 100%;
  overflow: hidden;
  display: block;
}
.cms-e-warranty .parallax {
    min-height: 100%;
    height: 300px;
}
.cms-e-warranty .parallax > .background-image {
    min-height: 100%;
    height: 300px;
    min-height: 100%;
    height: 100%;
}
.cms-blog .page-title-wrapper>.parallax > .background-image{
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: left -10px!important;
}
.content-heading {
    text-align: center;
    margin-bottom: 33px;
}
/* .page-title-wrapper .content-heading{
  margin-bottom: 0px;
} */
.content-heading .title {
    display: inline-block;
    position: relative;
    color: #000;
    line-height: 24px;
}
.content-heading .title {
    font-size: 24px;
    text-transform: uppercase;
}
.content-heading .title:before, .content-heading .title:after{
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: #000;
    top: 48%;
}
.content-heading .title:before {
    left: -75px;
}
.content-heading .title:after{
    right: -75px;
}
.content h3{
    font-size:20px;
}

.content {
    padding-bottom: 40px;
}
.cms-home .content{
  padding-bottom: 0px;
}
/* .details{padding:40px;} */
.promoimage {
    overflow: hidden;
}
.promoimage-animated > img {
    animation: crZoomInOut 20s ease-in-out infinite both;
}
.promoimage img {
    width: 100%;
}

/**
Animations
*/

@-webkit-keyframes crZoomInOut{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes crZoomInOut{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}



@-webkit-keyframes crZoomInOutInvisible{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.6);
        opacity: 0;
    }
}

@keyframes crZoomInOutInvisible{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.6);
        opacity: 0;
    }
}



@-webkit-keyframes crFadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes crFadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@-webkit-keyframes crSlideInDown{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes crSlideInDown{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}



@-webkit-keyframes crBounceIn {
    20%,
    40%,
    60%,
    80%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes crBounceIn {
    20%,
    40%,
    60%,
    80%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}
.seperator{position: relative;min-height: 180px;}
.seperator .h4 {
    text-align: center;
    position: relative;
    top: 75px;
}
.seperator::before{
    content: '';
    position: absolute;
    left: 0px;
    top: auto;
    background: url('../images/seperator-before.png') no-repeat center center;
    height:70px;
    width:100%;
}
.seperator::after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: url('../images/seperator-after.png') no-repeat center center;
    height:70px;
    width:100%;
}
.pad-right0 {
    padding-right: 0px;
}
.pad-left0 {
    padding-left: 0px;
}
.pad-top15{
    padding-top: 15px;
}
.pad-bottom75{
    padding-bottom: 75px;
}
.mr-top20{
    margin-top:20px;
}
.max-width40{
  max-width: 40%;
}
.max-width50{
  max-width: 50%;
}
.max-width60{
  max-width: 60%;
}
.max-width70{
  max-width: 70%;
}
.buttons {
    position: relative;
    float: left;
    width: 100%;
}
.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.brand-collection .brand-details{
  padding:0 15px ;
}
.brand-collection .brand-details .brand-description {
    text-align: justify;
    margin-bottom: 25px;
}
.brand-collection .brand-details .brand-button a.btn {
    border-radius: 3px;
    position: relative;
    margin-left: 40px;
}
.brand-collection .brand-details .brand-button a.btn .icon {
    position: absolute;
    right: 0px;
    font-size: 36px;
    padding: 0px;
    line-height: initial;
    width: initial;
    height: initial;
}
.brand-collection .brand-details .brand-button a.btn:before {
    content: '';
    position: absolute;
    left: -40px;
    top: 50%;
    width: 50px;
    height: 1px;
    background: #222;
}
.brand-collection .all-brands .right-content .brand-name img {
    margin-left: auto;
}
.brand-collection .brand-details .brand-description p{
  line-height:1.55;
}
.icon-service .icon {
    color: #9e9e9e;
    font-size: 36px;
    display: table-cell;
    vertical-align: top;
    width: 1%;
    padding-right: 5px;
    line-height: 100%;
    padding-bottom: 0px;
    padding-left: 0px;
    float: none;
}
.icon-service .icon i{
  width:30px;
  font-size: 30px;
  line-height: 0px;
}
.icon-service .icon > a:hover i, .icon-service .text a:hover{
  color: #a7871d;
}
.icon-service .text {
    display: table-cell;
    vertical-align: top;
}
.page-bottom {
    background: #f5f5f5;
    position: relative;
}
/* .cms-contact .breadcrumbs{
    position: absolute;
    top:0px; 70
    left:0;
    z-index: 10;
    background: transparent;
}
 */
.cms-contact .contact_area {
    padding-top: 40px;
    min-height: 100vh;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    background-size: cover;
    padding-bottom: 40px;
    background-position: center top;
}
.cms-contact .contact_area h3 {
    font-size: 18px;
}
.cms-contact .contact_area p, .cms-contact .contact_area address {
    color: #000;
    margin-top: 20px;
}
.cms-contact .contact_area a.btn {
    border-radius: 5px;
}
.contact-form-content{
    padding: 40px 0px;
}
.actions-toolbar button {
    border-radius: 0;
}
.contact-collection .contact_area>.container, .contact-collection .contact_area>.container-fluid {
    z-index: 1;
    margin: auto;
}
.contact-collection .parallax > .background-image{
    top: -100vh;
}

.newsletter-signup input[type="text"],
.newsletter-signup input[type="email"]{
    border-radius:5px;
}
.newsletter-signup .btn{
    margin-top: 0;
}
.newsletter-signup .form-inline>div+div {
    margin-left: 15px;
}
.member-layout {
    min-height: 100vh;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.member-layout >.container, 
.member-layout >.container-fluid {
    z-index: 1;
    margin: auto;
}
.member-layout input[type="text"],
.member-layout input[type="email"]{
    border-bottom: 1px solid #000;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    text-align: center;
    background: transparent;
}
.member-layout input::placeholder {
  color: #fff;
}
.cms-member-subscribe .newsletter-signup{display: none;}
#mc-embedded-subscribe-form ::placeholder {
    color: #000;
    opacity: 1; /* Firefox */
}

#mc-embedded-subscribe-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #000;
}

#mc-embedded-subscribe-form ::-ms-input-placeholder { /* Microsoft Edge */
   color:#000;
}
.light-bg-grey{background: #f9f9f9;}
.about-content {
  position: relative;
  z-index: 1; 
}
.about-content .about-info {
  margin-bottom: 30px; 
}
.about-content .about-info h4 {
  font-size: 1em;
  color: #0063d1;
  letter-spacing: .4px;
  margin-bottom: 20px; 
}
.about-content .about-info h5 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1.23;
  letter-spacing: -.2px;
  margin-bottom: 25px; 
}
.about-content .watermark-text {
  top: -70px;
  left: -10px;
  bottom: inherit;
  line-height: 1;
  z-index: -1;
  color: #f5f4f4;
  text-overflow: ellipsis;
  word-break: break-word;
 }

.about-content-left .about-content {
  padding-right: 65px;
  margin-top: 44px; 
}


.about-content-left .col-lg-5 > img {
position: relative;
z-index: 1; }

.about-content-right .watermark-text {
left: -55px; }

.about-content-right .about-content {
margin-top: 44px; }

.watermark-text {
    display: block;
    position: absolute;
    font-size: 10.42857em;
    color: #0869d5;
    font-weight: 700;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    pointer-events: none;
}
.privacy-terms .tab-section  {
  padding-bottom: 40px;
}
.privacy-terms .tab-content {
    position: relative;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 40px;
}
.privacy-terms .cms-content{
  margin-top:15px;
}
.privacy-terms .cms-content ul li{
  color: #151515;
  padding-left: 20px;

}
.privacy-terms .cms-content ul li:before{

  position: absolute;;
  font-family: "Ionicons";

  left:0;
  font-size: 18px;
  color: #f3b52d;
  content: "\f12c";
}
.privacy-terms .tab-pane h3{
  text-align: left;
  font-size: 18px;
}
.privacy-terms .tab-pane h4{
  font-size: 16px;
}
.privacy-terms .tab-pane p{
  text-align: justify;
  line-height: 1.75;
}
.privacy-policy address {
  line-height: 1.75;
}
.custom-bg-404{
  padding-top: 40px;
    min-height: 100vh;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    background-size: cover;
    padding-bottom: 40px;
    background-position: center top;
}
.error-page .heading{
  
}
.error-page .container, .error-page .container-fluid{
  z-index: 1;
  margin: auto;
}
.error-page.parallax > .background-image{
  top:0vh;
}
.error-page .search {
  float:left;
  width:100%;
  position: relative;
}
.error-page .search-form .form-search {
    position: static;
    background: none;
    opacity: 1;
    visibility: visible;
}
.error-page .search-form .form-search .form.minisearch{
  position: relative;
}
.error-page .search-form .form-search .input-text {
    border: 0;
    padding: 0;
    text-align: center;
    color: #222;
    box-shadow: none;
    letter-spacing: 2px;
}
.error-page .search-form .form-search .button{
    position: absolute;
    top: 0;
    right: 0;
    background: #191a1d;
    border: 0;
    font-size: 24px;
    border-left: 1px solid #232323;
    height: 40px;
    color: #ffff;
}
.promo-banner{
  position: relative;
  width:100%;
  overflow: hidden;
}
.promo-banner .promo-button{
  text-align: center;
}
.promo-banner .promo-text{
  text-align: center;
}
.reveal-sensor {
    padding-top: 40px;
    min-height: 100vh;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    background-size: cover;
    padding-bottom: 40px;
    background-position: center top;
}
.reveal-sensor.parallax > .background-image{
  top:-5vh;
}
.reveal-sensor > .container, .reveal-sensor > .container-fluid{
    z-index: 1;
    margin: auto auto;
}

.reveal-bg{
  background: url(../images/banner-revealbyxsensor.jpg) no-repeat;
  background-size: cover;  
  height:100%;
}
.reveal-bg p {
    font-size: 20px;
}
.cms-reveal-by-xsensor .page-title-wrapper {
    position: absolute;
    display: none;
}
.cat-header {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
}
/*category product page*/
aside.category-sidebar {
  
}
.category-sidebar nav{
  margin-bottom: 35px;
  border: 1px solid #dadada;
  border-radius: 3px;
}
.category-sidebar nav .nav{
  height:100%;
  padding-bottom:25px;
  background: #f9f9f9;
 
}
.category-sidebar h3 {
    font-size: 18px;
}
.category-nav .has-children .arrow{
    float: right;
    width: 50px;
    height: 50px;
    padding: 5px;
    cursor: pointer;
}
.category-nav .has-children .arrow:before {
    content: "\f123";
    font-family: "Ionicons";
    position: absolute;
    right:15px;
    top:10px;
}
.category-nav .has-children.open .arrow:before {
  content: "\f125";
}
.nav.nav-stacked>li:first-child{
  border-top:1px solid #dadada;
  border-bottom:1px solid #dadada;
}
.nav.nav-stacked>li+li {
margin-top: 0px;
margin-left: 0;
border-bottom:1px solid #dadada;
}
.nav-pills.nav-stacked>li>a {
  display: block;
  padding: 6px 10px;
}
.nav.nav-pills li a i {
    vertical-align: baseline;
    font-size: 13px;
    padding-left: 7px;
   
}
.nav.nav-pills>li>a:hover,
.nav.nav-pills>li>a:focus {
    color: #fff;
    background-color: #222; 
    border-radius: 0px;
    opacity: 1;
}
.nav.nav-pills>li.active>a,
.nav.nav-pills>li.active>a:hover,
.nav.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #222;
    border-radius: 0px;
}
.product-category {
    float: left;
    position: relative;
    overflow: hidden;
    width:100%;
}
.category-sidebar .promo-banner{
  border: 1px solid #dadada;
  padding: 20px 15px;
  border-radius: 3px;
}

.category-filter {
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 33px;
}
.top-control{
  line-height: 1.75;
  vertical-align: middle;
  display: block;
  position: relative;
  z-index: 1;
}
.top-control .show-text {
  font-size: 14px;
  color: #333;
  font-weight: 300;
  margin: 0;
  float: left;
  padding-top: 5px;
}
.top-control .group-control {
  float: right;
  margin: 0;
}
.top-control .group-control {
  padding: 0;
}
.top-control .group-control .item-control {
  display: inline-block;
  list-style: none;
}
.top-control .group-control .item-control:first-child{margin-right:15px;}
.top-control .group-control .group-button{
      vertical-align: middle;
}
.top-control .group-control .group-button li {
  display: inline-block;
  list-style: none;
  margin: 0 6px;
  opacity: 0.3;
  vertical-align: middle;
}
.top-control .group-control .group-button li.active,
.top-control .group-control .group-button li:hover {
  opacity: 1;
}
.top-control .group-control .group-button li:first-child {
  margin-left: 0;
}
.top-control .group-control .group-button li:last-child {
  margin-right: 0;
}
.top-control .group-control .group-button li a{display: inline-block;}
.top-control .group-control .group-button li a i{
  font-size: 36px;
  line-height: 1;
}
.top-control .item-control .chose-option {
  width: 120px;
  background-color: transparent;
  padding: 0;
  border-right: none;
}
.top-control .item-control .chosen-container{
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  width: 130px;
}
.top-control .item-control .chosen-container-single .chosen-single {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  max-width: 100%;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 14px;
  color: #555;
  height: 25px;
  line-height: 25px;
  position: relative;
  border: none;
  padding-left: 15px;
}
.top-control .item-control .chosen-container-single .chosen-single::after {
  content: "\f3d0";
  font-family: "Ionicons";
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 0;
  font-size: 13px;
  color: #aaa;
  right: 4px;
}

.top-control .item-control .chosen-container-single .chosen-single span {
  margin: 0;
}
.top-control .item-control .chosen-container .chosen-results li:hover,
.top-control .item-control .chosen-container .chosen-results li {
  font-size: 14px;
  font-weight: 300;
  padding: 7px 11px;
  background-color: transparent;
  background-image: none;
  color: #333;
}
.top-control .item-control .chosen-container .chosen-results li:hover {
  background-color: #888;
  background-image: none;
  color: #fff;
}
.top-control .item-control .chosen-container.chosen-with-drop .chosen-drop {
  border: solid 1px #dddddd;
  border-top: solid 1px #dddddd;
  box-shadow: none;
  border-radius: 0;
}
.top-control .item-control .chosen-container .chosen-results {
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.pagination {
    width: 100%;
    text-align: center;
}
.pagination .list-page li {
    display: inline-block;
    list-style: none;
    margin: 0 13px;
}
.pagination .list-page li:first-child {
    margin-left: 0;
}
.pagination .list-page li a {
    display: inline-block;
    border: solid 1px #e1e0e0;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.list-page li a:hover,
.list-page li a.current {
  color: #fff;
  background-color: #000;
}
.product-grid .item{
  display: inline-block;
    vertical-align: top;
    font-size: 14px;
  
}

.product-list .item {
    display: table;
    border-bottom: 1px solid #eaeaea;
    height: auto !important;
    padding-bottom: 20px;
}
.product-list .item[class^="col-"],
.product-list .item[class*=" col-"]{
  width:100%;
}
.product-list .item .product-thumb {
    display: table-cell;
    width: 270px;
}
.product-list .item .product-details {
    display: table-cell;
    vertical-align: top;
    padding-left: 20px;
    margin-left:15px;
}
.product-layout .product-thumb {
    position: relative;
    float: left;
    display: block;
    width: 100%;
}
.product-layout{overflow: hidden;}
.product-layout .product-thumb .product-label {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 3px;
    padding: 0px 20px;
    color: #FFF;
}
.product-layout .product-thumb .product-label.firm{
    background: #0887f6;
}
.product-layout .product-thumb .product-label.plush{
  background: #ff1000;
}
.product-thumb .product-label.medium{
  background: #858585;
}
.product-layout .product-details {
    float: none;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.product-layout .product-details .product-name {
    font-size: 14px;
    margin-top: 15px;
    position: relative;
    float: left;
    
}
.product-details .name{
  font-size: 14px;
  margin-top: 15px;
  position: relative;
  color: #828282;
}
.product-list .product-layout .product-details .product-name{
  float: none;
  margin-top:0;
}
.product-grid .product-layout .product-details .product-name{
  width:100%;
    text-align: center;
}
.product-grid .product-layout .product-details .product-desc{display: none;}
.product-layout .product-details .product-attr {
    font-size: 14px;
    margin-top: 15px;
    float: left;
    font-weight: 600;
    line-height: 1.428;
    letter-spacing: 0.5px;
}
.product-detail-page .product{
    background: #f5f5f5;
}
.product-image {
    width: 100%;
    padding-top: 2px;
    margin-bottom: 30px;
    position: relative;
}
.product-image .image {
    position: relative;
    margin-bottom: 10px;
    z-index: 3;
    border: 1px solid #eaeaea;
}
.product-image .image, .mousetrap {
    height: auto;
}
.product-image .image-additional {
    padding: 0 40px 0 40px;
    display: block;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    float: left;
        margin-top: 40px;
}
.product-image .image-additional ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    float: left;
}
.product-image .image-additional li {
    text-align: left;
    padding: 0px;
    margin: 0px 5px;
    display: block;
}
.product-image .image-additional img {
    width: 100%;
    display: block;
    border: 1px solid #eaeaea;
}
#zoom-btn {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 38px;
    height: 38px;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    z-index: 10000;
    background-color: #f9f9fa;
    border-radius: 3px;
}
.product-image .image-additional .image_carousel.owl-carousel .owl-stage{
  margin:auto;
}
.product-image .image-additional .owl-controls {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}
.product-image .owl-theme .owl-controls .owl-nav div{
    opacity: 1;
    /* display: block; */
    z-index: 9999;
    top: 0px;
    padding: 0;
    margin: 0;
    color: #222;
    transform: none;
    font-size: 30px;
    line-height: 1;
        border: 1px solid #dadada;
    padding: 3px 12px;
    border-radius: 3px;
}
.product-image .owl-theme .owl-controls .owl-nav .owl-prev{
  left:-15px;
}
.product-image .owl-theme .owl-controls .owl-nav .owl-next{
  right: -15px;
}
.product-image .owl-theme:hover .owl-controls .owl-nav div {
  transform: none;
}
.product-image .image-additional .slide_arrow_next, 
.product-image .image-additional .slide_arrow_prev {
    width: 30px;
    height: 30px;
    line-height: 26px;
    border-radius: 3px;
    z-index: 2;
}
.product-info {
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    overflow: hidden;
}
.product-info .col-details .col-name{
  margin: 0px;
  font-size: 30px;
  font-weight: 500;

}
.product-info .col-details .slogan{  
  font-size: 18px;
  line-height: 40px;
}
.product-details {
    width: 100%;
    position: relative;
    float: left;
}
.product-info .product-name {
    float: left;
    margin-top:10px;
}
.product-info .review, #review-summary .review{
    color: #4D4D4D;
    font-size: 13px;
}
.product-info .review.rating-summary{
      overflow: hidden;
    white-space: nowrap;
    margin-top: 10px;    
     padding-left: 20px;
    line-height: 2;
    padding-top: 5px;
    float: right;
}
.review .rating, .rate-score .rating{
  display:inline-block;
}
.rate-score .rating{
  font-size: 24px;
  float: left;
  margin-right: 15px;
}
.rating-summary .rating-result:before,  #review-summary{
   letter-spacing: 0.3em;
}
.rate-score .rating-result:before {
    letter-spacing: 6px;
    color: #454c5b;
}
.rating-summary .rating-result > span ~ span{
      color: #454c5b;
}
.rating-summary .rating-result > span:before, #review-summary {
  letter-spacing: -0.09em;
}
.product-info .review a {
  line-height:12px;
  display:inline-block;
  padding:0px 4px 0px 7px;
}
.product-info .review a + a {
  border-left: 1px solid #cccccc;
}
.product-info .review a u {
  text-decoration:none; /* Used for google rich snippets */
}
.product-info .product-short-desc{
  clear: both;
  width: 100%;
  position: relative;
  float: left;
  margin-top:20px;
}
.product-short-desc a.btn{
  min-width: 180px;
  padding: 0 15px;
}
.product-info .stores {
    position: relative;
    width: 100%;
    float: left;
    border: 1px dashed #dadada;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}
.product-info .stores .map-list{
    vertical-align: middle;
    display: table;
    width: 100%;
}
.product-info .stores .map-list > * {
    display: table-cell;
    padding-top: 0;
    vertical-align: middle;
    width: 100%;
    padding: 0;
    margin: 0;
}
.product-info .stores .map-list i{
  font-size: 26px;
  float: left;
  margin-right: 15px;
}
.product-info .stores .map-list p{
  font-size: 13px;
}
.product-info .contact-info {
    display: table;
    width: 100%;
    float: left;
}
.product-info .contact-info > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.product-info .contact-info a{
  color: #222;
}
.product-info .contact-phone i{
      border: 1px solid #222;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 28px;
    position: relative;
    top: 3px;
    display: inline-flex;
    padding: 5px;
    margin-right: 10px;
    overflow: hidden;
}
.product-info .contact-phone i:before {
    display: inline-block;
    position: absolute;
    top: 15px;
    line-height: 0;
}
.product-info .contact-info .chat i{
  font-size: 30px;
    position: relative;
    line-height: 0;
    overflow: hidden;
    top: 5px;
    margin-right: 5px;
}
.product-features {
    background: #ffffff;
}
.product-features h4 {
    font-size: 16px;
}
.product-features .icon-bg{
  background: #f5f5f5;
}
.product-features .icon-area, .product-information .icon-area{
    display: table;
    float: none;
    position: relative;
    overflow: hidden;
    margin: auto;
}
.product-features .icon-area{
    max-width: 100%;
    width: 60%;
    
}
.product-features .icon-area > .icon-box,
.product-information .icon-area > .icon-box{
    display: table-cell;
    margin: auto;
    padding: 0 15px;
    vertical-align: middle;
    flex: none;
    text-align: center;
  }
.product-features .icon-area > .icon-box{   
    width: 33%;
    float: left;
    
}
.product-features .icon-area > .icon-box .icon-img {
    width: 50%;
    margin: auto;
}
.product-features .icon-area > .icon-box .icon-img h2 {
    margin-bottom: 33px;
    margin-top: 33px;
}
.product-information .icon-area > .icon-box .icon-img {
    width: 50%;
    margin: auto;
    min-height: 80px;
}
.product-information .icon-area > .icon-box img{
  width:140px;
}
#productTab{display: inline-block;}
#review-summary, #write-a-review, .reviews-block {
    float: left;
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}

.questions .question-block {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
}
.question-avatar {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    width: 64px;
    height: 64px;
    overflow: hidden;
    padding: 3px;
    background: #4a4a4a;
    border: 1px solid #4a4a4a;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    line-height: 55px;
}
.question-avatar span {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.question-block .meta {
    margin: 0 0 15px;
    color: #474D5D;
    overflow: hidden;
}
.question-inner {
    margin: 0;
    padding: 0 15px;
    width: calc(100% - 70px);
    float: right;
}

/** END category */
.footer-menu .list-seperator ul{
    float: none;
    padding: 0;
    margin: 0;
}
.footer-menu .list-seperator ul li{
    float: left;
    padding: 0px 15px;
    line-height: 24px;
    position: relative;
   
}
.footer-menu .list-seperator li{
    margin-right: 15px;
}
.footer-menu .list-seperator li::before, .footer-menu .list-seperator li:last-child::after{
    padding-left: 15px;
    padding-right: 15px;
    display: inline;
    content: '\2022';
    color: rgba(255,255,255,0.5);
    position: absolute;
    top: 0;
}
.footer-menu .list-seperator li::after {
    right: -25px;
}
.footer-menu .list-seperator li::before {
    left: -25px;
}
.footer-menu .width-cal {
    width: calc(100% / 3);
}
.swicther {
    float: left;
}
.switcher-language .switcher-toggle {
    background: transparent;
    border: none;
    outline: none!important;
    box-shadow: none!important;
}
.switcher-language .switcher-toggle span {
    color: #c6aa4e;
    margin-left: 5px;
}
.switcher-language .dropdown-menu{
    min-width:140px;
}
/* .navbar.affix .top-links li a{
  color:#fff;
}
.navbar.affix li a .rounded-border{
  color:#fff;
} */
 .auto-width{width:auto;}

@media (min-width: 1440px) {
  
}
@media (min-width: 1200px){
    #main-nav {
    width: auto;
    display: table!important;
    text-align: center;
    margin: 0 auto;
  }
  .width-auto-margin .width-cal {
      width: calc(100% / 4);
  }
  
}

@media only screen 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .header .row>div[class*="col-"]:nth-child(3){
    display: none;
  }
  .header .row>div[class*="col-"]:nth-child(2){
    width:66%;
    text-align: center;
  }
  .header .row>div[class*="col-"]:nth-child(4){
    padding-left: 15px;
  }
  .cms-blog .page-title-wrapper>.parallax > .background-image
  {
        background-position: left 0px!important;
  }

   /*menu*/
    #mySidenav .dropdown a
    {
      display: block!important;
      color: #e8d49f;
    } 
    

    #mySidenav .dropdown:hover > ul.dropdown-menu
    {
      visibility: hidden;/*extra*/
      background: transparent;
    }
    #mySidenav .open>.dropdown-menu
    {
      display: inline-block;
      position: relative; /*extra*/
      background: transparent; /*extra*/
      visibility: visible!important;
      float: right;
    }
    #mySidenav #append li.dropdown
    {
      border-bottom: 0.5px dashed #655347!important;
      display: flow-root;
    }
    #mySidenav .dropdown-menu li
    {
      opacity: 0;
    }
    #mySidenav .open .dropdown-menu li
    {
      opacity: 1;
    }

    #mySidenav .dropdown-menu
    {
      overflow: hidden;
    }
    #mySidenav .open .dropdown-menu
    {
      overflow: visible;
    }
    .sidenav a
    {
      padding: 12px 10px;
    }
    #mySidenav .dropdown-menu>li>a
    {
      padding: 12px 10px;
      font-size: 12px;
      cursor: pointer;
    }

    .breadcrumbs
    {
      z-index: 2!important;
    }
    #mySidenav .open .dropdown-backdrop
    {
      display: none;
    }
    #main-nav .dropdown .caret
    {
        display: block;
    }


    /*menu*/
    .dropdown .drop-lft
    {
        float:  left;
        clear: right;
    }
    .dropdown .drop-lft-last
    {
        float:  right;
    }
    .sidenav .nav>li, .sidenav ul>li
    {
      border-bottom: 0.5px dashed #655347;
      clear: both;
    }
    .sidenav .nav>li.dropdown a, .sidenav .nav>li a, .sidenav ul>li a
    {
      border-bottom: none!important;
      padding: 10px 8px;
    }
    .sidenav #append li:last-child 
    {
      border-bottom: 0.5px dashed #655347!important;
    }
    .sidenav #append li .dropdown-menu li:last-child
    {
      border-bottom: none!important;
    }
    .sidenav ul>li:last-child 
    {
      border-bottom: none!important;
    }

    /*menu*/
    .sidenav.open .buttons a.btn
    {
      border: 1px solid!important;
    }
    #append
    {
      height:  auto;
    }

}
@media (min-width: 992px) {
  .min-width-600{
    min-width:600px;
  }
  .header .row>div[class*="col-"] .top-links{
      display: inline-block;
  }
}
@media (min-width: 1600px) {
  .header .row>div[class*="col-"]:nth-child(1){}
  .header .row>div[class*="col-"]:nth-child(2){
    width:33%;
  }
  
  .header .row>div[class*="col-"]:nth-child(4){
     width: 8.333333%;
    padding-left: 15px;
  }
  
  
}
@media screen and (min-width: 1280px) {
  .header .row>div[class*="col-"]:nth-child(3){
    width:42%;
  }
}
/* @media (min-width: 1800px) {  
  .header .row>div[class*="col-"]:nth-child(2){
    
      margin-left: 8.3333%;
    }
  
    .header .row>div[class*="col-"]:nth-child(3){
    
      margin-left: 8.3333%;
    }
    .header .row>div[class*="col-"]:nth-child(4){
      margin-left: 8.3333%;
    }
} */

.e-warranty [class^="ion-"], .e-warranty [class*="ion-"]{
  font-size: 20px;
}

select{       
    height: 40px;
    padding: 5px;
    border: 0;       
    width: 240px;
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select.e-warranty-select, select#mattress {    
    width: 100%;
    padding: 5px 35px 5px 10px;
    border: 1px solid #ccc;
    height: 40px;
    color: #9E9797;
    border-radius: 0px;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/dropdown.png) 100% / 40px no-repeat; */
    background-color: #fff;
}
.select {    
    overflow: hidden;
    position: relative;
    display: block;
    margin-bottom: 0;
    font-weight: 400;
}

.select:after {
    content:"\f123";
    font-family: "Ionicons";
    color: #fff;
    padding: 10px 15px;
    position: absolute; right: 0; top: 0;
    background: #9f743c;
    z-index: 1;
    text-align: center;
    height: 40px;      
    pointer-events: none;
    box-sizing: border-box;   
}
.unhappyMessage + .input-group-addon {
  height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 10px 12px;
        width: auto;
  }
.smallfont {
    color: #f7401c;
    font-weight: 700;
}

.row > .form-group{
  overflow: hidden;
}

@media (min-width: 768px){
.ewarranty-form .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
}
.unhappyMessage {
    color: #F7401C;
    font-size: 0.9em;
}
.mattress-selector-result{
      background: #f6fbfd;
}
.panel-transparent{
  background-color: transparent;
}
.result .panel-body .selection{
  height:100%;
  min-height: 135px;
  width:50%;
  float: left;
  padding: 15px;
  font-size: 20px;
}
.mats-select-ans {
  color: #ff8000;
}
.br-green{
  border: 3px solid #1BD38C;
}
.br-lf-green{
  border-left:3px solid #1BD38C;
}
.profile-img {
    float: left;
    width: 180px;
    height: 380px;
    margin-right: 30px;
    position: relative;
}
.profile-img img{
    left: -96px;
    position: absolute;
    max-width: initial;
}
.profile-content {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
}
.height300{
  height: 250px;  
}
#filter-col label{font-weight:400;}
#adv_ajaxfilter .option_name::after,
#adv_ajaxfilter .attribute_group_name::after {
    color: #d42f29 !important;
    border: 1px solid;
    width: 20px;
    text-align: center;
    height: 20px;
    border-radius: 50%;
}
label.error {
    color: #ff0000;
    font-weight: normal;
    font-size: 12px;
}
.related-posts {
    background: #f5f5f5;
    position: relative;
    width: 100%;
    float: left;
}
.share_this .share_buttons {
    margin-bottom: 10px;
}
.custom-bg-404 .background-image:before {
    content: '';
    background: hsla(0, 100%, 99%, 0.35);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}
#related-products {
  background: #f5f5f5;
}
.coupon-text{
    background: url(../images/border-3.png) no-repeat;
    width: 265px;
    height: 57px;
    color: #fff;
    position: relative;
    display: inline-block!important;
    overflow: hidden;
  }
.coupon-treasure {
  text-transform: uppercase;
    margin: 0;
    max-width: 180px;
    width: 255px;
    min-height: 45px;
    top: 15px;
    height: 36px;
    line-height: 36px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: inherit!important;
    background: #4d4d4d;
    left: 40.5%;
    min-height: inherit;
    border: 0;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;    
    padding: 0;
    text-align: center;
    z-index: 2;

}
.sidenav .btn-close
{
    position: absolute;
    right: -15px;
    top: -15px;
}
.sharing-container {
    margin: 0;
    padding: 0;
}
#sharing-accounts{
    padding: 30px 0;
    margin: -15px 0 0;
    text-align: center;
    white-space: normal;
    text-align: left;
    padding-top: 0;
    margin-left: 0;
}
.sharing-container #sharing-accounts li {
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
    width: 60px;
    height: 60px;
    position: relative;
    float: none;
    cursor: pointer;
    text-align: center;
}
.sharing-container #sharing-accounts li {
    height: 28px;
    overflow: hidden;
    margin-top: 15px;
}
.sharing-container #sharing-accounts .wrap-img-ghost {
    position: absolute;
    top: 0;
    background: url(../images/social-icon-sprites.png) no-repeat;
    background-size: 213px 72px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.sharing-container #sharing-accounts .facebook-like .wrap-img-ghost,.sharing-container #sharing-accounts .twitter-follow .wrap-img-ghost {
    display: none;
}
.sharing-container #sharing-accounts .facebook-like {
    max-height: 63px;
    padding: 0;
}
.sharing-container #sharing-accounts li.facebook-like {
    width: 65px;
}
.sharing-container #sharing-accounts .facebook-like:before {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/sprites.png) -208px -228px no-repeat;
    background-size: 1800px 300px;
    content: '';
    height: 60px;
    width: 60px;
    z-index: -1;
}
.sharing-container #sharing-accounts .facebook-like .fb-like {
    height: auto!important;
    margin-top: -1px;
}
#sharing-accounts li.facebook-like div {
    cursor: pointer;
}
.sharing-container #sharing-accounts .facebook-like .fb-like iframe, 
.sharing-container #sharing-accounts .facebook-like .fb-like span {
    min-width: 47px!important;
    min-height: 61px!important;
    display: inline-block;
}
.sharing-container #sharing-accounts li.twitter-follow {
    padding-top: 0;
    width: 80px;
    background: 0 0;
}
.sharing-container #sharing-accounts li.twitter-follow:before {
    opacity: 0;
}
.sharing-container #sharing-accounts .twitter-follow:before {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/sprites.png) -267px -227px no-repeat;
    background-size: 1800px 300px;
    z-index: -1;
    content: '';
    height: 60px;
    width: 60px;
}
.sharing-container #sharing-accounts li.twitter-follow .wrap-img-ghost {
    background-position: -133px 0;
}
.sharing-container #sharing-accounts li .scn-twitter-follow {
    position: relative;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fff,#dedede);
    background-image: linear-gradient(#fff,#dedede);
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    cursor: pointer;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 20px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    outline: 0;
    text-decoration: none;
    font-family: helvetica neue,Arial,sans-serif;
    font-size: 11px;
    line-height: 18px;
}
.sharing-container #sharing-accounts li .scn-twitter-follow i {
    position: absolute;
    top: 50%;
    left: 2px;
    margin-top: -5px;
    width: 16px;
    height: 13px;
    background: url(../images/sprites.png) -954px -148px no-repeat;
}
.sharing-container #sharing-accounts li .scn-twitter-follow span {
    padding: 0 3px 0 19px;
    white-space: nowrap;
}
.sharing-container #sharing-accounts li.google-plus-one {
    width: 40px;
}
.sharing-container #sharing-accounts .google-plus-one:before {
    position: absolute;
    top: 0;
    left: 3px;
    background: url(../images/sprites.png) -94px -214px no-repeat;
    background-size: 1800px 300px;
    z-index: 0;
    content: '';
    height: 60px;
    width: 52px;
}
.sharing-container #sharing-accounts li.google-plus-one:before {
    opacity: 0;
}
.sharing-container #sharing-accounts li.google-plus-one div.wrap-img-ghost {
    position: absolute;
    margin-top: 0!important;
    background-position: 0 0;
    z-index: 0;
    opacity: 1;
}
.sharing-container #sharing-accounts li.google-plus-one div {
    position: relative;
    z-index: 1;
    margin-top: 0!important;
    opacity: 0;
}
.sharing-container #sharing-accounts .pinterest-share {
    padding-top: 42px;
    background: url(../images/sprites.png) -186px -132px no-repeat;
    background-size: 1800px 300px;
}
.sharing-container #sharing-accounts li.pinterest-share {
    padding-top: 0;
    width: 80px;
    background: 0 0;
}
.sharing-container #sharing-accounts .pinterest-share:before {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/sprites.png?v9) -335px -226px no-repeat;
    background-size: 1800px 300px;
    z-index: -1;
    content: '';
    height: 60px;
    width: 60px;
}
.sharing-container #sharing-accounts li.pinterest-share .wrap-img-ghost {
    background-position: -115px -44px;
}
.sharing-container #sharing-accounts li.pinterest-share:before {
    opacity: 0;
}
.sharing-container #sharing-accounts .pinterest-share a {
    display: inline-block;
    color: #363636;
    box-shadow: inset 0 0 1px #888;
    border-radius: 3px;
    font: 11px/20px Arial,Helvetica,sans-serif;
    font-weight: 700;
    cursor: pointer;
    height: 20px;
    padding: 0 4px 0 20px;
    background-color: #efefef;
    position: absolute;
    left: 0;
    white-space: nowrap;
    vertical-align: baseline;
}
.sharing-container #sharing-accounts .pinterest-share a:after {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    top: 3px;
    left: 3px;
    background: url(../images/sprites.png) -955px -199px no-repeat;
    background-size: 1800px 300px;
}
.sharing-container #sharing-accounts .instagram-share {
    padding-top: 42px;
    background: url(../images/sprites.png) -247px -132px no-repeat;
    background-size: 1800px 300px;
}
.sharing-container #sharing-accounts li.instagram-share {
    padding-top: 0;
    width: 80px;
    background: 0 0;
}
.sharing-container #sharing-accounts li.instagram-share .wrap-img-ghost {
    background-position: -19px -44px;
}
.sharing-container #sharing-accounts .instagram-share .instagram-follow {
    background: #6b5344;
    height: 20px;
    width: 60px;
    color: #fff;
    font: 11px 600 helvetica neue,Arial,sans-serif;
    line-height: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    text-transform: none;
    letter-spacing: 0;
    display: block;
}
.sharing-container #sharing-accounts li.instagram-share a, 
.sharing-container #sharing-accounts li.pinterest-share a, 
.sharing-container #sharing-accounts li.twitter-follow .scn-twitter-follow {
    position: relative;
    z-index: 1;
    opacity: 0;
}
.flex-display {
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    min-height: 470px;
}
.flex-auto {
    margin: auto;
}