
@media only screen and (min-width: 1600px)
{
	
	.header .row>div[class*="col-"]:nth-child(2){
    	text-align: center;
  	}
  
	/* .header .row>div[class*="col-"]:nth-child(3){
		width:auto;
		margin-left: 6%;
	} */
	/* .header .row>div[class*="col-"]:nth-child(4){
		margin-left: 6%;
	} */
	.header .row>div[class*="col-"] .top-links{
	    display: inline-block;
	}
	.header .row>div[class*="col-"] .top-links,
	.header .row>div[class*="col-"] #main-nav,
	.header .row>div[class*="col-"] .table-icon-menu
	{
	  padding: 12px 0px;
	    
	}
	.header .top-links li a{    padding: 0px 13px;}
	.header .top-links li span{left: 0px;}
	.header .row>div[class*="col-"] .table-icon-menu
	{
	}
	.header .form-search > .container {
		 margin: 20em auto auto;    
	}
	.cms-brands .content-wrapper .row>div[class*="col-"]:nth-child(2)
	{
		width: 50%;
	}
	/*	.header
	  	{
	float: none;
		} */

	/*collection*/
	.all-brands .content {
	    padding-bottom: 0;
	}  

	.contact-collection .parallax > .background-image {
	    top: -70vh; /*0vh*/
	}
	.header_promo + .header ~ .breadcrumbs {
	    top: 145px;
	}
	.header_promo.promo + .header ~ .breadcrumbs {
	    top: 90px;
	}

	/*blog*/

	/*menu*/
	#main-nav .navbar-nav>li>a
	{
		padding: 23px 10px 23px;
	}




}

/*@media only screen and (min-width: 1400px)
{
 	.contact-collection .parallax > .background-image {
 		top: 0vh; 
 	}
}	*/

@media only screen and (min-width: 1300px) and (max-width: 1599px)
{
	/* .header
	{
		float: none;
	} */

	/*collection*/
	.all-brands .content {
	    padding-bottom: 0;
	} 

	/*menu*/
	#main-nav .navbar-nav>li>a
	{
		padding: 23px 10px 23px;
	}

	/*.contact-collection .parallax > .background-image {
	    top: 0vh; 
	}*/


}	


/*1280px*/
@media only screen and (max-width: 1280px)
{	
 	/*menu*/
 	#main-nav .navbar-nav>li>a
 	{
 		padding: 23px 6px 23px;
 	}
 	/*collection*/
 	.all-brands .content {
 	    padding-bottom: 0;
 	} 

	.contact-collection .parallax > .background-image {
	    top: 0vh; 
	}
}

@media only screen and (max-width: 1270px)
{	
 	#main-nav .navbar-nav>li>a {
 	    padding: 23px 6px 23px;
 	}
 	/*about*/
 	.cms-about-lmg-world .content-wrapper .container
 	{
 		width: 95%;
 	}
 	.cms-about-lmg-world .content-wrapper .p80 {
 	    padding: 40px;
 	}
 	.cms-about-lmg-world .content-wrapper .about-content-right.p80
 	{
 		padding: 100px 40px 40px;
 	}
 	.cms-about-lmg-world .details {
 	    padding: 10px 0;
 	}
 	.cms-about-lmg-world .about-content-left .about-content {
 	    padding-right: 0px;
 	    margin-top: 0;
 	}
 	.cms-about-lmg-world .about-content-right .about-content {
 	    margin-top: 0;
 	}

	.contact-collection .parallax > .background-image {
	    top: 0vh; 
	}

	/*collection*/
	.all-brands .content {
	    padding-bottom: 0;
	} 
}
@media only screen and (min-width: 1200px)
{
	#main-nav .navbar-nav>li>a.drop-lft-last
	{
		padding:  0px;
	}
}

@media only screen and (max-width: 1200px)
{	
 	
 	/*menu*/
 	#main-nav .navbar-nav>li>a
 	{
 		padding: 23px 4px 23px;
 	}
 	.contact-collection .parallax > .background-image {
 	    top: 0vh; /*-100*/
 	}
 	
 	/*brands*/
 	.brand-collection .brand-details .brand-description
 	{
 		margin-bottom: 5px;
 	}
 	.brand-collection .brand-details .brand-description p
 	{
 		font-size: 14px;
 		margin-bottom: 5px;
 	}
 	.brand-description h4
 	{
 		margin-bottom: 0px;
 	}
 	.all-brands .content
 	{
 		padding-bottom: 0px;
 	}

	/*mattress selector*/
	#age-range .width-calc {
	    width: calc(100% / 5)!important;
	}

	

}

/**/
@media only screen and (min-width: 992px) and (max-width: 1199px)
{	
 	/*menu*/
 	#main-nav .navbar-nav>li>a {
 	    padding: 23px 3px 23px;
 	}
 	#main-nav
 	{
 		padding-right: 10px;
 	}
 	.navbar-nav>li>a {
 		font-size: 9px;
    }
    .header .top-links ul li+li {
	    margin-left: 8px;
	}
	.header .top-links li a
	{
		font-size: 11px;
		padding: 0 4px; /*0 10px*/
	}
	.footer-menu .col-md-3.width-cal
	{
		width: 25%;
	}
	.footer-menu .col-md-6.width-cal
	{
		width: 50%;
	}
	.navbar-header
	{
		padding: 12px 0px 5px;
	}
	/*brands*/
	.brand-collection .brand-details .brand-description
	{
		margin-bottom: 5px;
	}
	.brand-collection .brand-details .brand-description p
	{
		font-size: 12px;
		margin-bottom: 5px;
	}
	.brand-description h4
	{
		margin-bottom: 0px;
		margin-top: 0px;
		font-size: 16px;
	}
	.all-brands .content
	{
		padding-bottom: 0px;
	}
	.brand-button .btn
	{
		height: 32px;
		line-height: 30px;
	}
	.brand-name img
	{
		width: 48%;
	}

	/*home*/
	/* .header
	{
		float: none	;
	} */
	/*about*/
	.cms-about-lmg-world .content-wrapper .container
	{
		width: 95%;
	}
	.cms-about-lmg-world .content-wrapper .p80 {
	    padding: 40px;
	}

	.cms-about-lmg-world .details {
	    padding: 10px 0;
	}
	.cms-about-lmg-world .about-content-left .about-content {
	    padding-right: 0px;
	    margin-top: 0;
	}
	.cms-about-lmg-world .about-content-right .about-content {
	    margin-top: 0;
	}
	.cms-about-lmg-world .about-content .watermark-text
	{
		top: -12px;
		left: 5px;
		font-size: 8.42857em;
	}

	/*inner products*/
	.category-sidebar .nav-pills.nav-stacked>li>a
	{
		padding: 6px 2px;
	}
	.promo-banner .promo-button .btn
	{
		padding: 0 20px;
	}

	/*inner products detail*/
	.product-details .h3
	{
		font-size: 22px;
	}
	.product-info .btn
	{
		padding: 0 28px;
	}
	.product-features .icon-area > .icon-box .icon-img h2
	{
		margin-top: 0px;
	}
	.footer-menu .list-seperator ul li
	{
		padding: 0px 8px;
	}

	/*stores*/
	.cms-stores .store-list-container .store-list .items .stores li .store-content .description
	{
		padding-left: 0px;
	}
	.cms-stores .store-list #panel
	{
		width: 100%;
	}
	.cms-stores #show-all-store
	{
		margin-top: 15px;
	}

	/*blog*/
	.blog-main-content h3
	{
		    font-size: 26px!important;
	}
	.blog-main-content {
	    padding: 0px 58px!important;
	}
	.blog-main {
	    padding: 60px 0 0px!important;
	}

	



	#main-nav a.drop-lft-last
	{
		padding-top: 30px!important;
	}

	/*blog*/
	
	.blog-menu .navbar-nav > li > .caret
	{
		top: 55%;
	}

	 



}

/**/
@media only screen and (min-width: 768px) and (max-width: 991px)
{

	.header
	{
		width: 100%;
	}
	.footer-menu .col-sm-3.width-cal
	{
		width: 25%;
	}
	.footer-menu .col-sm-6.width-cal
	{
		width: 50%;
	}
	.copyright a
	{
		font-size: 13px;
	}
	.cms-contact .breadcrumbs
	{
		top:  0px; /*70*/
		position: absolute!important;
	}
	.navbar-header
	{
		padding: 11px 0 3px 0;
	}
	#mySidenav
	{
		right: 0px;
	}

	.brand-collection .brand-details .brand-description p {
	    font-size: 16px;
	    margin-bottom: 10px;
	    line-height: 1.55;
	}
	.cms-brands .page-title-wrapper .content-heading
	{
		margin-top: 30px;
	}
	.brand-collection .brand-details
	{
		margin-bottom: 30px;
	}
	.brand-collection .all-brands .right-content .brand-name img, .brand-collection .all-brands .left-content .brand-name img
	{
		margin-left: auto;
		margin-right: auto;
	}
	.brand-details .brand-button
	{
		margin: 20px 0;
	}
	.brand-description h4 {
	    margin-bottom: 10px;
	}
	.right-content .brand-details .brand-button
	{
		text-align: left;
		clear: left;
		/* margin: 45px 0 20px;*/
	}
	.right-content .brand-details .brand-description .pull-left
	{
		font-size: 16px;
		clear:  both;
		margin-bottom: 20px;
	}
	/*home*/
	.cms-home .page-content
	{
		overflow: visible;
	}

	/*home*/
	.hero-fullscreen{
		/*height:  88vh;*/
	}
	.footer-menu .list-seperator ul li
	{
		    padding: 0px 4px;
	}
 
	.s-brands .pull-left
	{
		float: none!important;
		text-align: center;
	}

	/*privacy*/
	.cms-privacy-terms #buttonTabs li a
	{
		min-width: 220px;
	}

	/*menu*/
	#mySidenav .dropdown a
	{
		display: block!important;
		color: #e8d49f;
	} 
	#mySidenav .open>.dropdown-menu
	{
		display: inline-block;
	}
	#mySidenav .dropdown-menu li
	{
		opacity: 0;
	}
	#mySidenav .open .dropdown-menu li
	{
		opacity: 1;
	}

	#mySidenav .dropdown-menu
	{
		overflow: hidden;
	}
	#mySidenav .open .dropdown-menu
	{
		overflow: visible;
	}
	.sidenav a
	{
		padding: 12px 10px;
	}
	#mySidenav .dropdown-menu>li>a
	{
		padding: 12px 10px;
		font-size: 12px;
		cursor: pointer;
	}

	.breadcrumbs
	{
		z-index: 2!important;
	}
	#mySidenav .open .dropdown-backdrop
	{
		display: none;
	}
	#main-nav .dropdown .caret
	{
	    display: block;
	}
	/*about*/
	.cms-about-lmg-world .about-content .watermark-text
	{
		color: transparent;
	}

	.sidenav
	{
		padding-bottom: 50px;
	}

	/*member*/
	.cms-member-subscribe .breadcrumbs
	{
		position: absolute!important;
	}

	/*Reveal by xsensor*/
	.cms-reveal-by-xsensor .content-wrapper .col-md-4
	{
		text-align: center;
		padding-top: 65px;
	}
	.cms-page-view .breadcrumbs
	{
		position: absolute!important;
	}
	/*inner products*/
	.category-sidebar .nav-pills.nav-stacked>li>a
	{
		padding: 6px 0px;
		font-size: 12px;
	}
	.promo-banner .promo-button .btn
	{
		padding: 0 10px;
		margin: 5px 0px;
		font-size: 10px;
	}

	/*inner products detail*/
	#product-features .image
	{
		padding-top: 30px;
	}
	.product-features .icon-area > .icon-box .icon-img h2
	{
		margin-bottom: 0;
		margin-top: 0;
	}
	#product-info .image
	{
		padding-top: 30px;
	}
	.cloud-zoom-wrap img
	{
		width: 100%;
	}

	/*subbrands*/
	.brand-collection .col-md-3.col-sm-12 .brand-title.image.pull-left
	{
		float: none!important;
		text-align: center;
	}

	.header .top-links li
	{
		padding: 18px 4px 19px;
	}
	.header .top-links li a
	{
		font-size: 14px;
	}


	/*menu*/
	.dropdown .drop-lft
	{
	    float:  left;
	    clear: right;
	}
	.dropdown .drop-lft-last
	{
	    float:  right;
	}
	.sidenav .nav>li, .sidenav ul>li
	{
		border-bottom: 0.5px dashed #655347;
		clear: both;
	}
	.sidenav .nav>li.dropdown a, .sidenav .nav>li a, .sidenav ul>li a
	{
		border-bottom: none!important;
		padding: 10px 8px;
	}
	.sidenav #append li:last-child 
	{
		border-bottom: 0.5px dashed #655347!important;
	}
	.sidenav #append li .dropdown-menu li:last-child
	{
		border-bottom: none!important;
	}
	.sidenav ul>li:last-child 
	{
		border-bottom: none!important;
	}

	/**/
	.copyright a {
	    font-size: 12px;
	}

	/*stores*/
	.cms-stores .store-list-container .store-list .items .stores li .store-content .description
	{
		padding-left: 0px;
	}
	.cms-stores .store-list #panel
	{
		width: 100%;
	}
	.cms-stores #show-all-store
	{
		margin-top: 15px;
	}

	/*about*/
	.cms-about-lmg-world .content-wrapper .p80 {
	    padding: 30px;
	}
	.cms-about-lmg-world .content-wrapper .about-content-right.p80 {
	    padding: 100px 30px 30px;
	}

	/*menu*/
	.sidenav.open .buttons a.btn
	{
		border: 1px solid!important;
	}

	/*mattress selector*/
	#gender .width-calc, #looking-mattress .width-calc, #sleep-position .width-calc, #issues .width-calc	
	{
		width: calc(100%/4)!important;
	} 
	#people .width-calc
	{
		width: calc(100%/3)!important;
	}
	#weight-range .width-calc	
	{
		width: calc(100%/4)!important;
	}
	.mycarsel2 p
	{
		color:  #333!important;
	}
	.cms-mattress-selector .section-heading
	{
		padding: 35px 5px 10px;
	}
	.cms-mattress-selector .carousel-caption .content-heading .title {
	    color: #333;
	}
	/*matress selector result*/
	.cms-mattress-selector .profile-content {
	    width: calc(100% - 10px);
	}
	/*.cms-mattress-selector .mattress-selector-result .panel-body {
	    padding: 20px 0px;
	}*/
	.cms-mattress-selector .mattress-selector-result .profile-content h2
	{
		font-size: 30px;
	}
	/*about*/
	.cms-about-lmg-world .seperator
	{
		clear: both;
	}

	.header .row>div[class*="col-"]:nth-child(2) {
	    width: 56%;
	}

	/*menu lst*/
	#mySidenav .open>.dropdown-menu
	{
		position: static!important;
		float: none;
	}


	/*blog*/
	
	.cms-blog .blog-main-content {
	    padding: 0px 12px!important;
	}
	 .blog-main-content {
	    padding: 0px 12px!important;
	}
	.blog-main-content h3
	{
		font-size: 24px!important;
		line-height: 30px!important;
		padding-bottom: 0px;
	}
	.blog-main-content p
	{
		font-size: 14px!important;
		line-height: 26px!important;
	}
	.blog-main .owl-theme .owl-controls .owl-nav .owl-prev, .blog-main .owl-theme .owl-controls .owl-nav .owl-next
	{
		top: 25%;
	}
	.blog-main .owl-dots
	{
		display: none;
	}
	.blog-main {
	    padding: 60px 0 0px!important;
	}
	.blog-menu .container
	{
		width: 100%;
	}
	.blog-menu .navbar-nav > li > a
	{
		font-weight: 500!important;
	}
	.blog-menu .navbar-nav
	{
		margin: 0px!important;
	}
	.cms-blog .page-title-wrapper>.parallax > .background-image
	{
		    background-position: left 0px!important;
	}

	.blog-menu .navbar-nav > li > .caret
	{
		    top: -30px!important;
		    position: relative!important;
	}
	.blog-menu .dropdown-menu
	{
		margin-left: 0px;
	}
	.blog-menu .navbar-nav > li > a
	{
		max-width: 100%!important;
	}


	/*switcher*/
	.swicther .switcher-language .switcher-toggle
	{
		display: block;
	}
	.swicther .switcher-language.open {
	    display: block;
	}
	.swicther .switcher-language .dropdown-menu {
	    min-width: 140px;
	}
	.swicther .open>.dropdown-menu {
	    display: inline-table;
	    max-height: 100%;
	    position: absolute;
	        margin-left: 0;
	}
	.swicther .open > .dropdown-menu li
	{
		opacity: 1;
	}

} 


/*767px*/
@media only screen and (max-width: 767px)
{
	.header
	{
	 	float: none;
	}	
	.cms-contact .breadcrumbs
	{
		top: 70px!important;
		position: absolute!important;
	}
	.cms-page-view .page-title-wrapper{
		padding-top: 0px;
	}
	.newsletter-signup .form-group
	{
		margin: 15px 15px;
	} 
	.footer-menu .list-seperator ul li a
	{	
	 	font-size: 14px;
	}
	.footer-menu .list-seperator ul li
	{
		padding: 0px 4px;
	}
	.footer-menu .list-seperator li {
	    margin-right: 5px;
	}
	.footer-menu .width-cal.col-xs-8
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	.footer-menu .list-seperator li::before, .footer-menu .list-seperator li:last-child::after
	{
		padding-left: 0px;
		padding-right: 0px;
		display: none;
	}
	.footer-menu .list-seperator li::before {
	    left: 0;
	}
	.navbar-header
	{
		padding: 10px 0 5px 0;
	}
	.brand-collection .brand-details .brand-description p {
	    font-size: 16px;
	    margin-bottom: 10px;
	    line-height: 1.55;
	}
	.cms-brands .page-title-wrapper .content-heading
	{
		margin-top: 30px;
	}
	.brand-collection .brand-details
	{
		margin-bottom: 30px;
	}
	.brand-collection .all-brands .right-content .brand-name img, .brand-collection .all-brands .left-content .brand-name img
	{
		margin-left: auto;
		margin-right: auto;
	}
	.brand-details .brand-button
	{
		margin: 20px 0;
	}
	.brand-description h4 {
	    margin-bottom: 10px;
	}
	.right-content .brand-details .brand-button
	{
		text-align: left;
		clear: left;
		 /*margin: 45px 0 20px;*/
	}
	.right-content .brand-details .brand-description .pull-left
	{
		font-size: 16px;
		clear:  both;
		margin-bottom: 20px;
	}


	/*privacy*/
	.cms-privacy-terms #buttonTabs li a
	{
		min-width: 220px;
	}

	.footer
	{
		z-index: 2;
	}

	/*menu*/
	#mySidenav .dropdown a
	{
		display: block!important;
		color: #e8d49f;
	} 
	#mySidenav .open>.dropdown-menu
	{
		display: inline-block;
	}
	#mySidenav .dropdown-menu li
	{
		opacity: 0;
	}
	#mySidenav .open .dropdown-menu li
	{
		opacity: 1;
	}
	#mySidenav .dropdown-menu
	{
		overflow: hidden;
	}
	#mySidenav .open .dropdown-menu
	{
		overflow: visible;
	}
	#mySidenav .dropdown-menu>li>a
	{
		padding: 12px 10px;
		font-size: 12px;
		cursor: pointer;
		margin-left: 0px;
	}
	.sidenav a
	{
		padding: 12px 10px;
	}
	.breadcrumbs
	{
		z-index: 2!important;
	}
	#mySidenav .open .dropdown-backdrop
	{
		display: none;
	}

	#main-nav .dropdown .caret
	{
	    display: block;
	}

	/*about*/
	
	.cms-about-lmg-world .about-content .watermark-text
	{	
	 	color: transparent;
	}
	.sidenav
	{
		padding-bottom: 70px;
	}
	/*member*/
	.cms-member-subscribe .breadcrumbs
	{
		position: absolute!important;
	}
	/*Reveal by xsensor*/
	.cms-reveal-by-xsensor .content-wrapper .col-md-4
	{
		text-align: center;
		padding-top: 65px;
	}
	.cms-page-view .breadcrumbs
	{
		position: absolute!important;
	}

	/*inner products*/
	.category-filter
	{
		margin-top: 40px;
	}

	/*inner products detail*/
	#product-features .image
	{
		padding-top: 30px;
	}
	.product-features .icon-area > .icon-box .icon-img h2
	{
		margin-bottom: 0;
		margin-top: 0;
	}
	#product-info .image
	{
		padding-top: 30px;
	}
	/*subbrands*/
	.brand-collection .col-md-3.col-sm-12 .brand-title.image.pull-left
	{
		float: none!important;
		text-align: center;
	}
	/*footer*/
	.finfo {
	    width: 100%;
	    text-align: center;
	}
	.finfo .list-seperator ul {
	    float: left;
	    width: 100%;
	    text-align: center;
	}
	.finfo li {
	    display: inline-block;
	    text-align: center;
	    margin: 0 auto;
	    float: none !important;
	}
	.finfo .swicther {
	    float: none;
	}

	/*menu*/
	.dropdown .drop-lft
	{
	    float:  left;
	    clear: right;
	}
	.dropdown .drop-lft-last
	{
	    float:  right;
	}
	.sidenav .nav>li, .sidenav ul>li
	{
		border-bottom: 0.5px dashed #655347;
		clear: both;
	}
	.sidenav .nav>li.dropdown a, .sidenav .nav>li a, .sidenav ul>li a
	{
		border-bottom: none!important;
		padding: 10px 8px;
	}
	.sidenav #append li:last-child 
	{
		border-bottom: 0.5px dashed #655347!important;
	}
	.sidenav #append li .dropdown-menu li:last-child
	{
		border-bottom: none!important;
	}
	.sidenav ul>li:last-child 
	{
		border-bottom: none!important;
	}
	/*stores*/
	.cms-stores .store-list-container .store-list .items .stores li .store-content .description
	{
		padding-left: 0px;
	}
	.cms-stores .store-list #panel
	{
		width: 100%;
	}
	.cms-stores #show-all-store
	{
		margin-top: 15px;
	}

	/*e-warranty*/
	.r-mb15
	{
		margin-bottom: 30px;
	}
	.cms-e-warranty .e-warranty .bg-grey
	{
		margin: 0px 15px;
	}

	/*about*/
	.cms-about-lmg-world .content-wrapper .p80 {
	    padding: 80px 10px 10px;
	}
	.cms-about-lmg-world .content-wrapper .about-content-right.p80 {
	    padding: 140px 10px 10px;
	}

	/*product detail*/
	#review-summary .buttons
	{
		margin-top: 20px;
	}

	/*menu*/
	.sidenav.open .buttons a.btn
	{
		border: 1px solid!important;
	}

	/*mattress selector*/
	#gender .width-calc, #looking-mattress .width-calc, #sleep-position .width-calc, #issues .width-calc	
	{
		width: calc(100%/4)!important;
	} 

	#people .width-calc
	{
		width: calc(100%/3)!important;
	}
	#weight-range .width-calc	
	{
		width: calc(100%/4)!important;
	}
	#hot-cold .col-xs-6, #comfortable-sleep .col-xs-6 
	{
		width: calc(100%/3)!important;
	}
	.mycarsel2 p
	{
		color:  #333!important;
	}
	.cms-mattress-selector .section-heading
	{
		padding: 35px 5px 10px;
	}
	.cms-mattress-selector .carousel-caption .content-heading .title {
	    color: #333;
	}

	/*about*/
	.cms-about-lmg-world .about-content-left .image img.pull-right, .cms-about-lmg-world .about-content-right .image img {
	    float: none!important;
	    width: 100%;
	}

	.cms-about-lmg-world .about-content-left .image, .cms-about-lmg-world .about-content-right .image
	{
		text-align: center!important;
	}

	.e-warranty
	{
		padding-top: 0px!important;
	}


	/*menu lst*/
	#mySidenav .open>.dropdown-menu
	{
		position: static!important;
		float: none;
	}

	/*blog*/
	.blog-menu .navbar-nav > li > a
	{
		font-weight: 500!important;
	}
	.blog-nav
	{
		margin: 0px!important;
	}
	.row div[class*='-6'] .post-image.clip {
	    height: 300px!important;
	}
	.row div[class*='-6'] .post-image.clip #clipped
	{
		clip: inherit!important;
		height: 450px!important;
	}
	.cms-blog.cms-page-view .page-title-wrapper {
	    padding-top: 0!important;
	}
	.blog-blw-bx
	{
		    margin-bottom: 20px;
	}
	.cms-page-view .page-title-wrapper.subblog-title-wrapper
	{
		padding-top: 0!important;/*!important*/
	}
	.blog-menu .navbar-nav
	{
		margin: 0px!important;
	}
	.blog-main-content {
	    padding: 30px 20px!important;
	}

	.cms-blog .page-title-wrapper>.parallax > .background-image
	{
		    background-position: left 0px!important;
	}

	.blog-menu .navbar-nav > li > .caret
	{
		    top: -30px!important;
		    position: relative!important;
	}
	.blog-menu .dropdown-menu
	{
		margin-left: 0px;
	}
	.blog-menu .navbar-nav > li > a
	{
		max-width: 100%!important;
	}

	/*switcher*/
	.swicther
	{
		position: relative;
	}
	.swicther .switcher-language .switcher-toggle
	{
		display: inline-block;
	}
	.swicther .switcher-language.open {
	   
	    display: inline-block;
	}
	.swicther .switcher-language .dropdown-menu {
	    min-width: 140px;
	}
	.swicther .open>.dropdown-menu {
	    display: inline-table;
	    max-height: 100%;
	    position: absolute;
	        margin-left: 0;
	}
	.swicther .open > .dropdown-menu li
	{
		opacity: 1;
		width: 100%;
		text-align: left;
	}
	
}

/*600px*/
@media only screen and (max-width: 600px)
{
	.top-links ul > li:first-child
	{
		display: none;
	}
	.footer-menu .width-cal.col-xs-12
	{
		width: 100%;
		text-align: center;
	}
	.footer-menu .width-cal.col-xs-8
	{
		width: 66.66666667%;
	}
	.footer-menu .width-cal.col-xs-4
	{
		width: 33.33333333%;
	}
	.footer
	{
		z-index: 2;
	}
	.call-to-action .content-heading h2.title
	{
		font-size: 18px;
	}
	.call-to-action .content-heading h2.title:before, .call-to-action .content-heading h3.title:before, .call-to-action .content-heading h2.title:after, .call-to-action .content-heading h3.title:after
	{
		width: 40px;
	}
	.call-to-action .content-heading h2.title:before, .call-to-action .content-heading h3.title:before
	{
		left: -45px;
	}
	.call-to-action .content-heading h2.title:after, .call-to-action .content-heading h3.title:after
	{
		right: -45px;
	}

	/*inner products*/
	.cms-page-view .page-title-wrapper {
	    padding-top: 25px;
	}

	/*e-warranty*/
	.cms-e-warranty .page-title-wrapper
	{
		padding-top:  30px;
	}

	/*about*/
	.cms-about-lmg-world .watermark-text 
	{
		font-size: 7.42857em;
	}

	/*mattress selector*/
	.cms-mattress-selector .content-heading
	{
		margin-top: 30px;
	}



}

/*480px*/
@media only screen and (max-width: 480px)
{
	.top-links ul > li:first-child
	{
		display: none;
	}
	.cms-contact .contact_area p
	{
		padding: 0px 12px;
	}
	.call-to-action .content-heading h2.title {
		font-size: 18px;
	}
	.footer-menu .list-seperator ul li
	{
		padding: 0px 2px;
	}
	#switcher-language
	{
		text-align: left;
	}
	.finfo #switcher-language{
		text-align: center;
	}
	.switcher-language .dropdown-menu{
	    min-width: auto;
	}

	/*privacy*/
	.cms-privacy-terms #buttonTabs li a
	{
		min-width: 220px;
	}



	.call-to-action .content-heading h2.title
	{
		font-size: 18px;
	}
	.call-to-action .content-heading h2.title:before, .call-to-action .content-heading h3.title:before, .call-to-action .content-heading h2.title:after, .call-to-action .content-heading h3.title:after
	{
		width: 40px;
	}
	.call-to-action .content-heading h2.title:before, .call-to-action .content-heading h3.title:before
	{
		left: -45px;
	}
	.call-to-action .content-heading h2.title:after, .call-to-action .content-heading h3.title:after
	{
		right: -45px;
	}
	/*member*/
	.member-layout
	{
		padding-top: 25px;
	}
	/*member subscribe*/
	.cms-member-subscribe .member-layout .text-center p
	{
	 	padding: 0 15px;
	}	
	
	/*brands*/
	.content-heading .title {
	    font-size: 18px;
	}

	/*product detail page*/
	.product-features .icon-area
	{
		width: 90%;	
	}
	.product-info .buttons .btn
	{
		padding: 0 20px;
	}
	.rate-list li .rate-count
	{
		margin-left: 20px;
	}

	/*mattress selector*/
	/*#gender .width-calc, #looking-mattress .width-calc, #sleep-position .width-calc, #issues .width-calc	
	{
		width: calc(100%/4)!important;
	} 

	#people .width-calc
	{
		width: calc(100%/3)!important;
	}
	#weight-range .width-calc	
	{
		width: calc(100%/4)!important;
	}
	#hot-cold .col-xs-6, #comfortable-sleep .col-xs-6 
	{
		width: calc(100%/3)!important;
	}*/

	.cms-mattress-selector .selector_img {
	    width: 110px;
	    height: 160px;
	    margin-bottom: 15px;
	}
	.cms-mattress-selector .double .selector_img {
	    width: 110px;
	    height: 160px;
	}

	/*header promo*/
	.header_promo {
	    display: contents;
	}


	/*blog*/
	.blog-menu .navbar-nav a
	{
		font-size: 15px!important;
	}


	/*extra*/
	.cms-about-lmg-world .about-content .about-info
	{
		margin-bottom: 0px;
	}
	.cms-about-lmg-world .content-wrapper .pb80 {
		padding-bottom: 30px;
	}
	.cms-about-lmg-world .content-wrapper .pt80 {
	    padding-top: 10px;
	}
	.cms-about-lmg-world .page-title-wrapper .content-heading, .cms-e-catalogue .page-title-wrapper .content-heading
	{
		margin-bottom: 0;
	}
	
	.cms-privacy-terms .privacy-terms .tab-pane h3, .cms-privacy-terms .privacy-terms .tab-pane h4
	{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.cms-privacy-terms .page-title-wrapper .content-heading
	{
		margin-bottom: 0;
	}
	.cms-e-catalogue .content-heading h1 strong {
	    font-size: 24px;
	}
	.cms-reveal-by-xsensor .content-wrapper .container-fluid .max-width50 {
		max-width: 90%;
	}
	.cms-reveal-by-xsensor .content-wrapper .col-md-4
	{
		padding-top: 0px;
	}
	.cms-reveal-by-xsensor .reveal-sensor .max-width50
	{
		max-width: 80%;
	}
	.reveal-sensor .background-image .mt60
	{
		margin-top: 20px;
	}
	.cms-mattress-selector .mbox h3
	{
		margin-bottom: 10px;
		min-height: auto;
	}
	.cms-mattress-selector .mbox-content {
	    padding: 5px 15px;	
	}
	.cms-mattress-selector .mstart.pb80
	{
		    padding-bottom: 0px;
	}
	.cms-mattress-selector .box.max-width50 {
	    max-width: 80%;
	}
	.cms-mattress-selector .mbox-bottom {
	    padding: 20px 20px 10px 20px;
	}
	.newsletter-signup .form-group {
	    margin: 15px 0px;
	    padding: 0px 15px;
	    margin-left: 0px!important;
	}
	.cms-mattress-selector .carousel-caption {
	    padding-top: 30px;
	}
	.cms-mattress-selector .carousel-inner .btn-group
	{
		margin-bottom: 20px;
	}
	.cms-mattress-selector .carousel-caption .content-heading
	{
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.cms-member-subscribe .content-heading
	{
		    margin-bottom: 5px;
	}
	.cms-e-warranty .content-heading
	{
		margin-bottom: 0px;
	}
	.cms-stores .store-list-container .store-list #panel
	{
		max-height: 300px;
	}
	.cms-contact .contact_area h1 {
	    font-size: 30px;
	}
	.cms-contact .contact_area .content-heading
	{
		margin-bottom: 0;
	}
	.cms-contact .contact_area .background-image
	{
		background-position: initial!important;
	}
	.blog-main .owl-theme .owl-controls .owl-nav .owl-prev
	{
		top: 40%;
	}
	.blog-main .owl-theme .owl-controls .owl-nav .owl-next
	{
		top: 40%;
	}
	.blog-main .owl-dots
	{
		display:  none!important;
	}
	.blog-main-blw .blog-blw-bx-down h3
	{
		margin-top:  10px;
	}
	.cms-page-view  .page-title-wrapper.detailblog-pagetitle-wrapper
	{
		padding-top: 0px;
	}
	.cms-brands .page-title-wrapper .content-heading
	{
		margin-top: 0;
		margin-bottom: 0;
	}
	.cms-brands .page-content .brand-collection.pt40
	{
		padding-top: 15px;
	}
	.cms-page-view .page-title-wrapper.subbrand-pagetitle
	{
		padding-top: 0px;
	}
	.cms-page-view .page-title-wrapper.subbrand-pagetitle>.parallax > .background-image
	{
		background-position: center!important;
	}
	.product-category.pt40
	{
		padding-top: 10px;
	}
	.product-layout.mb30
	{
		margin-bottom: 10px;
	} 
	.cms-beds .page-title-wrapper .content-heading, .cms-mattresses .page-title-wrapper .content-heading, .cms-accessories .page-title-wrapper .content-heading
	{	
	 	margin-bottom: 10px;
	}
	.product-detail-page #product-features .content-heading 
	{
		margin-bottom: 15px;
	}
	.product-detail-page #product-features .content-heading h2
	{
		margin-top: 10px;
	}
	.product-detail-page #product-features .image {
	    padding-top: 12px;
	}
	.product-detail-page #product-features .even .title-feature
	{
		margin-top: 15px;
	}
	.product-detail-page .reviews.mt40
	{
		margin-top: 0px;
	}
	.product-detail-page .reviews-block
	{
		margin-top: 10px;
	}
	#other-products .content-heading .title {
	    font-size: 14px;
	}
	#other-products .content-heading h2.title:before, #other-products .content-heading h3.title:before
	{
		left: -18px;
	}
	#other-products .content-heading h2.title:before, #other-products .content-heading h3.title:before, #other-products .content-heading h2.title:after, #other-products .content-heading h3.title:after
	{
		width: 10px;
	}
	#other-products .content-heading h2.title:after, #other-products .content-heading h3.title:after {
	    right: -18px;
	}
	#other-products .content-heading
	{
		margin-bottom: 0px;
	}
	.product-detail-page .product-information.pt40
	{
		padding-top: 0;
	}
	#product-features .mb40 {
	    margin-bottom: 20px;
	}
	#related-products .content-heading
	{
		margin-bottom: 15px;
	}
	#related-products.pt40
	{
		padding-top: 10px;
	}
	.product-detail-page .reviews h2
	{
		margin-top:  0px;
	}
	#product-details .content-heading  
	{
		margin-bottom: 15px;
	}
	#product-details .content-heading h2
	{
		margin-top: 0;
	}

	/*switcher

	.swicther
	{
		width: 100%;
	}
	#switcher-language
	{
		width: 100%;
		display: block;
	}
	.switcher-toggle
	{
		display: inline-flex;
	}
	.switcher-language .switcher-toggle span
	{
		margin-left: 3px;
	}
	.switcher-language .switcher-toggle span.caret
	{
		padding-top: 10px;
	}*/

	/*switcher*/
	.swicther
	{
		position: relative;
	}
	.swicther .switcher-language .switcher-toggle
	{
		display: inline-block;
	}
	.swicther .switcher-language.open {
	   
	    display: inline-block;
	}
	.swicther .switcher-language .dropdown-menu {
	    min-width: 140px;
	}
	.swicther .open>.dropdown-menu {
	    display: inline-table;
	    max-height: 100%;
	    position: absolute;
	        margin-left: 0;
	}
	.swicther .open > .dropdown-menu li
	{
		opacity: 1;
		width: 100%;
		text-align: left;
	}


		
}

/*411px*/
@media only screen and (max-width: 411px)
{
	/*home*/
	.hero-fullscreen{
		/*height:  90vh;*/
	}

	/*brands*/
	.content-heading .title {
	    font-size: 16px;
	}
	.content-heading .title:before, .content-heading .title:after
	{
		width: 40px;
	}
	.content-heading .title:before {
	    left: -45px;
	}
	.content-heading .title:after {
	    right: -45px;
	}

	/*product detail page*/
	.product-features .icon-area
	{
		width: 95%;	
	}
	.rate-list li .rate-count
	{
		margin-left: 36px;
	}
	#review-summary .buttons .btn
	{
		padding: 0 26px;
	}

	/*mattress selector*/
	#gender .width-calc, #looking-mattress .width-calc, #sleep-position .width-calc, #issues .width-calc	
	{
		width: calc(100%/2)!important;
	} 

	#people .width-calc {
	    width: calc(100%/1)!important;
	}
	#weight-range .width-calc	
	{
		width: calc(100%/2)!important;
	}
	#hot-cold .col-xs-6, #comfortable-sleep .col-xs-6 
	{
		width: calc(100%/1)!important;
	}
	#age-range .width-calc {
	    width: calc(100% / 3)!important;
	}

	.cms-mattress-selector .selector_img {
	    width: 160px;
	    height: 210px; /*240*/
	    margin-bottom: 0px; /*30*/
	}
	.cms-mattress-selector .double .selector_img {
	    width: 140px;
	    height: 200px;
	}
	.cms-mattress-selector #age-range .selector_img {
	    width: 135px;
		height: 190px;
	}

}

/*375px*/
@media only screen and (max-width: 375px)
{
	/*home*/
	.hero-fullscreen{
		/*height:  89vh;*/
	}

	/*privacy*/
	.cms-privacy-terms #buttonTabs li a
	{
		min-width: 170px;
		padding: 9px 4px;
	}
	.call-to-action .content-heading h2.title
	{
		font-size: 14px;
	}
	.content-heading h2.title:before, .content-heading h3.title:before
	{
		left: -60px;
	}
	.content-heading h2.title:after, .content-heading h3.title:after
	{
		right: -60px;
	}
	.content-heading h2.title:before, .content-heading h3.title:before, .content-heading h2.title:after, .content-heading h3.title:after
	{
		    width: 50px;
	}
	.switcher-language .dropdown-menu{
	    min-width: auto;
	}
	.footer-menu .list-seperator ul li a {
	    font-size: 13px;
	}
	.privacy-terms .tab-content
	{
		padding: 20px;
		margin: 0px 15px;
	}
	#mySidenav ul > li .buttons {
	    position: static;
	    float: none;
	    width: auto;
	}
	.sidenav
	{
		padding-bottom: 80px;
	}

	/*inner products*/
	.pagination .list-page li
	{
		margin: 0 6px;
	}
	.cms-page-view .page-title-wrapper {
	    padding-top: 35px;
	}

	/*inner products detail*/
	.product-details .h3
	{
		font-size: 16px;
	}
	.product-info .review.rating-summary
	{
		padding-left: 16px;
	}
	.product-info .btn
	{
		padding: 0 15px;
	}
	/*e-warranty*/
	
	.cms-e-warranty .page-title-wrapper
	{
		padding-top:  30px;
	}

	/*mattress selector*/
	.cms-mattress-selector .content-heading .title:before, .cms-mattress-selector .content-heading .title:after
	{
		width: 40px;
	}
	.cms-mattress-selector .content-heading .title:before
	{
		left: -45px;
	}
	.cms-mattress-selector .content-heading .title:after
	{
		right: -45px;
	}
	/*about*/
	.cms-about-lmg-world .content-wrapper .about-content-right.p80 {
	    padding: 50px 10px 10px;
	}
	.cms-about-lmg-world .content-wrapper .p80 {
	    padding: 50px 10px 10px;
	}

	/*product detail page*/
	.product-info .buttons .btn
	{
		padding: 0 12px;
	}
	#review-summary .buttons .btn
	{
		padding: 0 16px;
	}
	/*mattress result*/
	.cms-mattress-selector .mattress-profile .profile-img
	{
		margin-right: 25px;
	}
	.cms-mattress-selector .profile-content {
	    width: calc(100% - 10px);
	}



}

/*360px*/
@media only screen and (max-width: 360px)
{
	/*.call-to-action .content-heading h2.title
	{
		font-size: 14px;
	}
	.call-to-action .content-heading h2.title:before
	{
		left: -45px;
		width: 35px;
	}
	.call-to-action .content-heading h2.title:after
	{
		right: -45px;
		width: 35px;
	}*/
	.footer-menu .list-seperator li
	{
		margin-right: 5px;
	}
	.footer-menu .list-seperator ul li	a
	{
		font-size: 12px;
	}
	.footer-menu .list-seperator li:last-child::after
	{
		display: none;
	}
	.footer-menu .width-cal.col-xs-8
	{
		padding-right: 0px;
		padding-left: 0;
	}
	.footer-menu .list-seperator li::before
	{
		display: none;
	}
	.cms-brands .content-heading h2.title
	{
		font-size: 18px;
	}
	.cms-brands .content-heading h2.title:before, .content-heading h3.title:before
	{
		left: -45px;
		width: 40px;
	}
	.cms-brands .content-heading h2.title:after, .content-heading h3.title:after
	{
		right: -45px;
		width: 40px;
	}

	/*home*/
	.hero-fullscreen{
		/*height: 78vh;
		overflow: visible;*/
	}

	/*privacy*/
	.cms-privacy-terms #buttonTabs li a
	{
		min-width: 160px;
	}


	.call-to-action .content-heading h2.title
	{
		font-size: 15px;
	}
	.call-to-action .content-heading h2.title:before, .call-to-action .content-heading h3.title:before, .call-to-action .content-heading h2.title:after, .call-to-action .content-heading h3.title:after
	{
		width: 30px;
	}
	.call-to-action .content-heading h2.title:before, .call-to-action .content-heading h3.title:before
	{
		left: -35px;
	}
	.call-to-action .content-heading h2.title:after, .call-to-action .content-heading h3.title:after
	{
		right: -35px;
	}

	#mySidenav ul > li .buttons {
	    position: static;
	    float: none;
	    width: auto;
	}

	/*about*/
	.cms-about-lmg-world .watermark-text 
	{
		font-size: 2.42857em;
	}

	/*brands*/
	
	.content-heading .title:before, .content-heading .title:after
	{
		width: 25px;
	}
	.content-heading .title:before {
	    left: -30px;
	}
	.content-heading .title:after {
	    right: -30px;
	}
	/*brands*/
	.content-heading .title {
	    font-size: 14px;
	}


	/*product detail*/
	.product-info .buttons .btn {
	    padding: 0px 10px;
	}
	.rate-list li .rate-count
	{
		margin-left: 45px;
	}
	
	/*blog*/
	.blog-main-content h3
	{
		font-size: 18px!important;
		    line-height: 28px!important;
    padding-bottom: 0px!important;
	}
	.blog-main-content {
	    padding: 15px 20px!important;
	}

}

/*320px*/
@media only screen and (max-width: 320px)
{
	
	.footer-menu .list-seperator ul li	a {
	    font-size: 10px;
	}
	.cms-brands .content-heading h2.title {
	    font-size: 15px;
	}


	/*home*/
	.hero-fullscreen{
		/*height:  87vh;*/
	}

	.cms-privacy-terms #buttonTabs li a
	{
		min-width: 145px;
		padding: 9px 2px;
		font-size: 10px;
	}

	.call-to-action .content-heading h2.title
	{
		font-size: 14px;
	}
	.call-to-action .content-heading h2.title:before, .call-to-action .content-heading h3.title:before, .call-to-action .content-heading h2.title:after, .call-to-action .content-heading h3.title:after
	{
		width: 30px;
	}
	.call-to-action .content-heading h2.title:before, .call-to-action .content-heading h3.title:before
	{
		left: -35px;
	}
	.call-to-action .content-heading h2.title:after, .call-to-action .content-heading h3.title:after
	{
		right: -35px;
	}

	/*stores*/
	.cms-reveal-by-xsensor .reveal-bg .buttons .btn
	{
		padding: 0 16px;
	}

	/*mattress selector*/
	.cms-mattress-selector .content-heading .title:before, .cms-mattress-selector .content-heading .title:after
	{
		width: 30px;
	}
	.cms-mattress-selector .content-heading .title:before
	{
		left: -35px;
	}
	.cms-mattress-selector .content-heading .title:after
	{
		right: -35px;
	}

	/*about*/
	.cms-about-lmg-world .watermark-text 
	{
		font-size: 1.42857em;
	}

	/*brands*/
	
	.content-heading .title:before, .content-heading .title:after
	{
		width: 15px;
	}
	.content-heading .title:before {
	    left: -20px;
	}
	.content-heading .title:after {
	    right: -20px;
	}

	/*product detail page*/
	.product-info .buttons .btn
	{
		padding: 0 4px;
	}
	.rate-list li .rate-count {
	    margin-left: 52px;
	}
	#review-summary .buttons .btn {
	    padding: 0 6px;
	}

	/*mattress selector*/
	.cms-mattress-selector .selector_img {
	    width: 120px;
	    height: 150px;
	}
	.cms-mattress-selector #age-range .selector_img {
	    width: 110px;
	    height: 150px;
	}

	/*mattress result*/
	.cms-mattress-selector .mattress-profile .profile-img
	{
		margin-right: 10px;
	}
	.cms-mattress-selector .profile-content {
	    width: calc(100% - 0px);
	}
	.cms-mattress-selector .profile-img img {
	    left: -125px;
	}
	.cms-mattress-selector .profile-content h2 
	{
		font-size: 26px;
	}

	/*header promo*/
	.header_promo .alert
	{
		font-size: 12px;
	}

	/*blog*/
	.blog-menu .navbar-nav > li > a
	{
		max-width: 58%!important;
	}
}


#chk_frame, #hdr_ifr
{
	display:  none;
}

