

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

input[type="radio"], input[type="checkbox"] {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.company{
    display: block;
    width: 265px;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: rgba(37,38,131,1)!important;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
	}
.label-text {
    text-align: center;
    display: block;
    color: #fff!important; /*#000*/
    font-size: 15px!important;
    letter-spacing: 0.5px;  
    font-weight: 500;  
    padding-bottom: 5px;
}
.cms-mattress-selector .banner-container
{
    min-height: 490px;
}

section{
    position:relative;
    display: block;
}
.section-heading{
	padding:10px 0px;
	background: #272729;  /*#252683*/
}
.heading-title{
	font-size:20px;
	color:#fff;
	text-align:center;
	position:relative;
	margin-top:5px;
	margin-bottom:5px;
}
.section-blue{
    background: #565656;   /*#5BACC0 c3cfd1*/
} 
.home {
    padding: 0;
    color: #fff;
    position: absolute;
    overflow: hidden;
    background-color: #5bacc0;
    background: url(../images/cloud.png); /*cloud.png*/
    background-position: 0 0;
    background-repeat: repeat-x;
    width: 100%;
    height: 374px; /*374px*/
    opacity: 0.3;
    
}


.street {
    display: block;
    width: 100%;
    height: 40px;
    background-image: url(../images/street.png);
    background-position: bottom;
    background-repeat: repeat-x;
    opacity: 0.5;
}

.carousel .item{
background: transparent;
text-align: center;
opacity: 1;
}
.carousel, .carousel-inner > .item {
  width: 100%;
  min-height: 460px;
}
.carousel-inner > .item .carousel-caption{
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  text-shadow:none;
}

.carousel{
margin-top: 0px;
}
.carousel-control.left, .carousel-control.right{
    background: none 0;
}
.carousel-indicators{
    display: none;
}
#myCarousel .left.carousel-control .icon-prev,
#myCarousel .right.carousel-control .icon-next{
  font-size: 90px;
  line-height: 100px;
}
#myCarousel .carousel-inner .next-slide i{
  float: left; /*right*/
  font-size: 20px;
}
.banner-container{
   min-height: 500px;
    position:relative;
}
.home-container {
    /*background: rgba(255, 255, 255, 0) url(../images/ques-bed.png) no-repeat;*/ /*city.png*/
    background: rgba(255, 255, 255, 0);
    background-position: 50% 50%;
    background-size: 100% 100%;
    opacity: 0.6;
   
}
.bank-container {
     background: rgba(255, 255, 255, 0) url(../images/bank1.png) no-repeat; /**/
     background-position: 50% 50%;
     background-size: 100% 100%;
     opacity: 0.1;
}
.citi-container {
     background: rgba(255, 255, 255, 0) url(../images/cities.png) no-repeat;
     background-position: 50% 50%;
     background-size: 100% 100%;
     opacity: 0.3;
}
.building-container {
     background: rgba(255, 255, 255, 0) url(../images/building.png) no-repeat;
     background-position: 50% 50%;
     background-size: 100% 100%;
     opacity: 0.3;
}
.currency-container{
    background: rgba(255, 255, 255, 0) url(../images/currency.png) no-repeat;
     background-position: 50% 50%;
     background-size: 100% 100%;
     opacity: 0.3;
}
.salary-self {
    background: rgba(255, 255, 255, 0) url(../images/salary-self.png) no-repeat;
     background-position: center 70%;
     background-size: 900px 800px;
     opacity: 1;
}
.quote-container{
    background: rgba(255, 255, 255, 0) url(../images/quote.png) no-repeat;
     background-position: center 80%;
     background-size: 800px 800px;
     opacity: 1;
}
.user-experience{
    /*background: rgba(255, 255, 255, 0) url(../images/user-experience.png) no-repeat;*/
     background-position: 50% 50%;
     background-size: 950px 575px;
     opacity: 1;
	 
}
.joining-date, .business-length {
    position: relative;
    top: 0px;
    left: 0px;
}
.joining-date label.control-label, 
.business-length label.control-label{
    color:#fff;
}
.joining-date .form-group, 
.business-length .form-group{
    top:0px;
}
.personal-business {
    position:relative;
    top: 0px;
}
.company-for{
    margin-top: 0px;
    display:block;
    position:relative;
}
.enquiry {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(208, 208, 208, 0));
    position: relative;
    display: inline-block;
    padding-top: 20px;
    border-radius: 5px;
}
.enquiry label.control-label{
    color:#000;
}
.no-pad{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.circle{
    width: 128px;
    height: 128px;
    /*background-image: linear-gradient(to bottom,#337ab7 0,#0087FF 100%);
    background: linear-gradient(to bottom,#337ab7 0,#265a88 100%); background-color: #F07575; /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(to bottom,#f5f5f5 0,#D2D2D2 100%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image:    -moz-linear-gradient(to bottom,#f5f5f5 0,#D2D2D2 100%); /* For Firefox (3.6 to 15) */
    background-image:      -o-linear-gradient(to bottom,#f5f5f5 0,#D2D2D2 100%); /* For old Opera (11.1 to 12.0) */ 
    background-image:         linear-gradient(to bottom,#f5f5f5 0,#D2D2D2 100%); /* Standard syntax; must be last */
    margin-left: auto;
    margin-right: auto;
}
.circle-1{
    width: 128px;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
}
.rounded-circle{
    border-radius:50%;
    overflow:hidden;
    margin-bottom: 5px;
}
.inner-circle {
    padding: 10px;
}
.inner-text{
    font-size: 16px;
    line-height: 18px;
    padding: 5px 0;
    text-align: center;
    color:#1885BB;
    text-shadow: none;
    font-weight:600;
}
.inline-icon{
    position: absolute;
    display: block;
    top: 30px;
    right: 43%;
}

.inline-icon > i.md[class^="md-"], .inline-icon > i.md[class*=" md-"]{color:#000; }

.selected .circle, .select-loan:hover > .circle
{
        background:#fff;
}
.selected .circle .inner-text,
.selected .circle .inner-circle {
    color:#F6931F;
    
}
.selected .circle:hover .inner-text,
.selected .circle:hover .inner-circle {
    color:#F6931F;
    
}
.selected .circle i.md[class^="md-"],
.selected .circle i.md[class*=" md-"]
{
    color:#F6931F;
}
.selected .circle:hover i.md[class^="md-"],
.selected .circle:hover i.md[class*=" md-"]
{
    color:#F6931F;
}
.select-loan:hover > .circle .inner-text{
     color:#F6931F;
}
.select-loan:hover > .circle i.md[class^="md-"],
.select-loan:hover > .circle i.md[class*=" md-"]
{
    color:#F6931F;
}

.select-city:hover .rounded-circle{
    border-radius: 5px;
}
.option-city .selected {
    background: #2980b9;
    padding: 3px;
    margin: 0px 8px;
    width: 100%;
}
.option-city .selected .rounded-circle{border-radius: 5px;}
    
.select-city{
    padding: 3px;
    margin: 0px 8px;
    width: 100%;
}
.select-city:hover{    
    background:#2980b9;
    border-radius:5px;
    padding: 3px;
    margin: 0px 8px;
    width: 100%;
}
.credit-bank .rounded-circle:hover{
    border-radius:5px;
}
.carousel-caption .select-loan{
    color:#1885BB;
}

/*.price-box {
	margin: 0 auto;
	background: #337ab7;
	border-radius: 10px;
	padding: 15px 40px;
}

.price, .lead p {
	font-weight: 600;
	font-size: 32px;
	display: inline-block;
	line-height: 60px;
}

h4.great {
	
	margin: 0 0 25px -60px;
	padding: 7px 15px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	display: inline-block;
	
}*/

/*.total {
	border-bottom: 1px solid #7f8c8d;
	
	position: relative;
	padding-bottom: 20px;
}

.total:before {
	content: "";
	display: inline;
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 100%;
	height: 3px;
	background: #7f8c8d;
	opacity: 0.5;
}

.price-slider {
    margin-bottom: 5px;
    position: relative;
    clear: both;
    height: 85px;
}

.price-slider span {
	font-weight: 200;
	display: inline-block;
	color: #fff;
	font-size: 13px;
}

.form-pricing {
	background: #ffffff;
	padding: 20px;
	border-radius: 4px;
        color: #000;
        text-shadow: none;
}

.price-form {
	background: #ffffff;
	margin-bottom: 10px;
	padding: 20px;
	border: 1px solid #eeeeee;
	border-radius: 4px;
	
}*/

.form-group {
	margin-bottom: 15px!important;
       width: 100%;
}

.form-group span.price {
	font-weight: 200;
	display: inline-block;
	color: #7f8c8d;
	font-size: 14px;
}

.help-text {
	display: block;
	margin-top: 15px;
	margin-bottom: 10px;
	color: #737373;
	position: absolute;
        margin-left: 0%;
	font-weight: 200;
	text-align: right;
	width: 188px;
}

.option-loan, .option-city{
    position:relative;
    display: inline-block;
}
.option-city .inner-text{
    display: none;
}
.select-loan, .select-city, .credit-bank{
    position:relative;
    display:block;
}
.mselector-option {
    display: block;
    position: relative;
    overflow:hidden;
}
.option-male, .option-female, .option-Mypartner, .option-spare{
    width: 170px;
    height: 292px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    display: block;
}
.option-male{
    background: url('../images/single-bed.png') no-repeat;
    /* background-size: 103px 291px; */
    background-size: 150px 214px;
    background-position: 50% 50%;
}
.option-female{
    background: url('../images/double-bed.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}

.option-Mypartner{
    background: url('../images/family-bed.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}

.option-spare{
    background: url('../images/spare-bed.png') no-repeat;
    background-size: 150px 214px;
    background-position: 50% 50%;
}

/*looking-mattress*/
.lm-old, .lm-married, .lm-quality, .lm-hotel, .wr-less50, .wr-fiftysixty, .wr-sixtyseventy, .wr-great70 {
    width: 170px;
    height: 292px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    display: block;
}
.lm-old
{
    background: url('../images/lm-old-mattress.png') no-repeat;
    background-size: 186px 214px;/*150px 214px*/
    background-position: 50% 50%;
}
.lm-married
{
    background: url('../images/lm-marriage.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.lm-quality
{
    background: url('../images/lm-quality.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.lm-hotel
{
    background: url('../images/lm-hotel.png') no-repeat;
    background-size: 186px 214px; /*150px 214px*/
    background-position: 50% 50%;
}

/*weight-range*/
.wr-less50
{
    background: url('../images/wr-50kg.png') no-repeat;
    background-size: 186px 214px;/*150px 214px*/
    background-position: 50% 50%;
}
.wr-fiftysixty
{
    background: url('../images/wr-50-60kg.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.wr-sixtyseventy
{
    background: url('../images/wr-60-70kg.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.wr-great70
{
    background: url('../images/wr-above70kg.png') no-repeat;
    background-size: 186px 214px; /*150px 214px*/
    background-position: 50% 50%;
}

/*Age Range*/
.ar-30yrs, .ar-30to35yrs, .ar-36to45yrs, .ar-46to55yrs, .ar-above55  
{
    width: 170px;
    height: 292px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    display: block;
}
.ar-30yrs
{
    background: url('../images/ar-below30.png') no-repeat;
    background-size: 186px 214px;/*150px 214px*/
    background-position: 50% 50%;
}
.ar-30to35yrs
{
    background: url('../images/ar-30-35.png') no-repeat;
    background-size: 186px 214px;/*150px 214px*/
    background-position: 50% 50%;
}
.ar-36to45yrs
{
    background: url('../images/ar-36-45.png') no-repeat;
    background-size: 186px 214px;/*150px 214px*/
    background-position: 50% 50%;
}
.ar-46to55yrs
{
    background: url('../images/ar-46-55.png') no-repeat;
    background-size: 186px 214px;/*150px 214px*/
    background-position: 50% 50%;
}
.ar-above55
{
    background: url('../images/ar-above55.png') no-repeat;
    background-size: 186px 214px;/*150px 214px*/
    background-position: 50% 50%;
}



/*sleep-position*/
.sp-y-back, .sp-y-stomach, .sp-y-side, .sp-y-toss, .sp-p-back, .sp-p-stomach, .sp-p-side, .sp-p-toss
{
    width: 170px;
    height: 165px;/*292px*/
    margin-bottom: 5px; /*15*/
    /*border-radius: 5px;*/
    margin-left:auto;
    margin-right:auto;
    display: block;
    background-size: contain!important;
}
.sp-y-back
{
    background: url('../images/sp-m-back.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.sp-y-stomach
{
    background: url('../images/sp-m-stomach.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.sp-y-side
{
    background: url('../images/sp-m-side.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.sp-y-toss
{
    background: url('../images/sp-m-allturn.gif') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.sp-p-back
{
    background: url('../images/sp-w-back.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.sp-p-stomach
{
    background: url('../images/sp-w-stomach.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.sp-p-side
{
    background: url('../images/sp-w-side.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.sp-p-toss
{
    background: url('../images/sp-w-allturn.gif') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
#sleep-position label
{
    color: #fff; /*000*/
    font-size: 16px;
}
#sleep-position .banner-container
{
    min-height: 640px;
}

/*issues during or after sleep*/
.i-hip, .i-shoulder, .i-back, .i-none, .hc-cool, .hc-hot, .hc-noissue
{
    width: 170px;
    height: 292px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    display: block;
}
.i-hip
{
    background: url('../images/i-hip-pain.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.i-shoulder
{
    background: url('../images/i-shoulder-pain.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.i-back
{
    background: url('../images/i-back-pain.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.i-none
{
    background: url('../images/i-none.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}

/*hot-cold*/
.hc-cool
{
    background: url('../images/hc-cool.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.hc-hot
{
    background: url('../images/hc-hot.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.hc-noissue
{
    background: url('../images/hc-noissues.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}


/*comfortable sleep*/
.cs-plush, .cs-medium, .cs-firm 
{
    width: 240px; /*170px*/
    height: 292px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    display: block;
}
.cs-plush
{
    background: url('../images/cs-plush.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.cs-medium
{
    background: url('../images/cs-medium.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}
.cs-firm
{   
    background: url('../images/cs-firm.png') no-repeat;
    background-size: 186px 214px;
    background-position: 50% 50%;
}



.mselector-option .radio .icons, .mselector-option .checkbox .icons {
    position: relative;
    color: #fff;
    margin: 5px auto 0;
    font-size: 16px;
}
.mselector-option .btn-default{
    padding-top:15px;
    padding-bottom: 15px;
    border-radius: 5px;
    min-width:170px;
}

.mselector-option .btn-success{
    margin-top:15px;
}
.option-salary, .option-self{
    width: 250px;
    height: 263px;
    margin-bottom: 0px;
    border-radius: 0px;
    margin-left:auto;
    margin-right:auto;
    display: block;
}
.option-salary{
    background: url('../images/salaries.png') no-repeat;
   background-size: 250px 263px;
    background-position: 50% 50%;
}
.option-self{
    background: url('../images/self.png') no-repeat;
   background-size: 250px 263px;
    background-position: 50% 50%;
}
.salary-transfer{
    position:relative;
    display: block;
    overflow:hidden;
}
.salary-transfer .radio .icons, .salary-transfer .checkbox .icons {
    position: relative;
    color: #fff;
    margin: 5px auto 0;
    font-size: 16px;
}
.salary-transfer label > span {
    color: #fff;
    padding-top: 114px;
    padding-right: 2px;
	text-align:center;
}

.salary-transfer .btn-default{
    padding-top:15px;
    padding-bottom: 15px;
    border-radius: 5px;
}
.salary, .self-employee{ 
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 15px;
    display:block;
}
.salary{
    background: #0087FF url('../images/salary.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 40%;
	padding-top: 115px;
    
}
.self-employee{ background: #F0824E url('../images/self-employ.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 40%;
	padding-top: 115px;	
}

.select-bank .inner-text{
    padding: 90px 15px 0;
}
.select-bank {
    width:128px;
    height:128px;
    background: #fff;
}
.credit-bank input[type="radio"]{
    position: relative;
    top: -43px;
    border:none 0;
    background: none 0;
    box-shadow: none;
}
.rak-bank{
    background: #fff url('../images/bank-logo/rak.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%;  
}
.mashreq-bank{
	background: #fff url('../images/bank-logo/mashreq.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%; 
}
.abcb-bank{
	background: #fff url('../images/bank-logo/adcb.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%; 
}
.dubai-islamic-bank{
	background: #fff url('../images/bank-logo/dib.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%; 
}
.emirates-NBD{
	background: #fff url('../images/bank-logo/en.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%; 
}
.ajman-bank{
	background: #fff url('../images/bank-logo/ajman.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%; 
}
.standard-charted-bank{
	background: #fff url('../images/bank-logo/sc.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%; 
}
.city-bank{
	background: #fff url('../images/bank-logo/city.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%; 
}
.sharjah-Islamic-bank{
	background: #fff url('../images/bank-logo/sib.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%;
}
.adib-bank{
    background: #fff url('../images/bank-logo/adib.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%;  
}
.aihilal-bank{
    background: #fff url('../images/bank-logo/aihilalbank.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%;
}
.arab-bank{
    background: #fff url('../images/bank-logo/arab.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%;
}
.barclays-bank{
    background: #fff url('../images/bank-logo/barclays.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%;
}
.cbd-bank{
    background: #fff url('../images/bank-logo/cbd.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%;
}
.cbi-bank{
    background: #fff url('../images/bank-logo/cbi.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%;  
}
.aai-bank{
    background: #fff url('../images/bank-logo/aai.png') no-repeat;
    background-size: 90px 90px;
    background-position: 50% 50%;  
}
.inner-dropdown{
    padding-top:50px;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}
.city{
    width: 128px;
    height: 128px;
}
.city-abudhabi {
    background: #BCEFE0 url('../images/cities/abudhabi.jpg') no-repeat;
    background-size: 128px 128px;
    background-position: 50% 50%;
}
.city-ajman{
    background: #BCEFE0 url('../images/cities/ajman.jpg') no-repeat;
    background-size: 128px 128px;
    background-position: 50% 50%;
}
.city-Al-ain{
    background: #BCEFE0 url('../images/cities/Al-ain.jpg') no-repeat;
    background-size: 128px 128px;
    background-position: 50% 50%;
}
.city-dubai{
    background: #BCEFE0 url('../images/cities/dubai.jpg') no-repeat;
    background-size: 128px 128px;
    background-position: 50% 50%;
}
.city-fujariah{
    background: #BCEFE0 url('../images/cities/fujariah.jpg') no-repeat;
    background-size: 128px 128px;
    background-position: 50% 50%;
}
.city-sharjah{
    background: #BCEFE0 url('../images/cities/sharjah.jpg') no-repeat;
    background-size: 128px 128px;
    background-position: 50% 50%;
}
.city-ras{
    background: #BCEFE0 url('../images/cities/ras.jpg') no-repeat;
    background-size: 128px 128px;
    background-position: 50% 50%;
}
.select-city .control-label{
    padding: 5px;
    border-radius: 5px;
}
.carousel-caption {
  padding-top: 75px;
}
@media screen and (max-width:766px) {
  .price-slider {
    height: 0px;
  }
}
@media screen and (max-width:321px) {
  .company {
    width: 100%;
  }
}
.section-blue .btn-primary
{
    background-color: #272729!important;
    border-color: #272729!important;
}

.col-md-3.col-sm-3.age_range 
{     
    width:  19%;     
    margin-right: 1%; 
}
.mycarsel2 p  
{        
    text-align: center;     
    color: #fff;     
    padding-top: 6px;     
    line-height: 20px; 
}
.mstart {
    display: table;
    width: 100%;
}
.mstart .m-cell{
    display: table-cell;
    width: calc(100%/3);
    text-align: center;
}
.mbox {
    float: left;
    width: 100%;
}
.mbox .mstart-icon {
    background: #354f71;
    display: inline-block;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;

}
.mbox .mstart-icon i{
  color: #fff;
   font-size: 50px;
}
.mbox h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}
.mbox-bottom {
    padding: 20px 20px 30px 20px;
    /* background: #fff; */
    position: relative;
    clear: both;
}
.mstart-btn {
    bottom: 10%;
    position: absolute;
    left: 45%;
    margin: 0 auto;
    border-radius: 8px;
    background: #000;
    color: #fff;
}
.start-up .parallax {
    min-height: 100vh;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    background-size: cover;
    padding-bottom: 40px;
    background-position: center top;
}
.start-up .parallax > .background-image {
    height: 100%;
    top: 0;
}
.start-up .parallax>.container,
.start-up .parallax>.container-fluid{
  margin: 0 auto;
}
