

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

input[type="radio"], input[type="checkbox"] {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.label-text {
    text-align: center;
    display: block;
    color:#000;
    font-size: 15px!important;
    letter-spacing: 0.5px;  
    font-weight: 500;  
    padding-bottom: 5px;
    max-width: 80%;
    margin: auto;
}
.cms-mattress-selector .banner-container
{
    min-height: 490px;
}

section{
    position:relative;
    display: block;
}
.section-heading{
	padding:10px 0px;
	border-bottom: 1px solid #ddd;
}
.heading-title{
	font-size:18px;
	text-align:center;
	position:relative;
	margin-top:5px;
	margin-bottom:5px;
}
.section-blue{
    background: #565656;   /*#5BACC0 c3cfd1*/
} 
.home {
    padding: 0;
    color: #fff;
    position: absolute;
    overflow: hidden;
    background-color: #5bacc0;
    background: url(../images/cloud.png); /*cloud.png*/
    background-position: 0 0;
    background-repeat: repeat-x;
    width: 100%;
    height: 374px; /*374px*/
    opacity: 0.3;
    
}


.street {
    display: block;
    width: 100%;
    height: 40px;
    background-image: url(../images/street.png);
    background-position: bottom;
    background-repeat: repeat-x;
    opacity: 0.5;
}

.carousel .item{
background: transparent;
text-align: center;
opacity: 1;
}
.carousel, .carousel-inner > .item {
    width: 100%;
    height: 100%;  
    min-height: 600px;
}
.carousel-inner > .item .carousel-caption{
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  text-shadow:none;
  position: relative;
  left:0;
  right:0;
  top:0;
}
.carousel-inner .item .container {
    margin: auto;
    z-index: 2;
    position: relative;
}
.carousel{
margin-top: 0px;
}
.carousel-control.left, .carousel-control.right{
    background: none 0;
}
.carousel-indicators{
    display: none;
}
#myCarousel .left.carousel-control .icon-prev,
#myCarousel .right.carousel-control .icon-next{
  font-size: 90px;
  line-height: 100px;
}
#myCarousel .carousel-inner .left i,
#myCarousel .carousel-inner .next-slide i{
  float: left; /*right*/
  font-size: 20px;
}
.banner-container{
   min-height: 500px;
    position:relative;
}

.no-pad{
    padding-left: 0px!important;
    padding-right: 0px!important;
}



.form-group {
    margin-bottom: 15px!important;
       width: 100%;
}

.help-text {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #737373;
    position: absolute;
        margin-left: 0%;
    font-weight: 200;
    text-align: right;
    width: 188px;
}


.mselector-option {
    display: block;
    position: relative;
    overflow:hidden;
}
.mselector-option .control-label{
    cursor: pointer;
}
.selector_img{
    width: 160px;
    height: 240px;
    margin-bottom: 30px;
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    display: block;
}

.double .selector_img{
    width: 140px;
    height: 200px;
}
.option-male{
    background: url('../images/single-bed.png') rgba(255,255,255);
}
.option-female{
    background: url('../images/double-bed.png') rgba(255,255,255) 
}

.option-Mypartner{
    background: url('../images/family-bed.png') rgba(255,255,255);
}

.option-spare{
    background: url('../images/spare-bed.png') rgba(255,255,255);
}

/*looking-mattress*/

.lm-old
{
    background: url('../images/lm-old-mattress.png') rgba(255,255,255);
}
.lm-married
{
    background: url('../images/lm-marriage.png') rgba(255,255,255);
}
.lm-quality
{
    background: url('../images/lm-quality.png') rgba(255,255,255);
}
.lm-hotel
{
    background: url('../images/lm-hotel.png') rgba(255,255,255);
}

/*weight-range*/
.mw-less50{
    background: url('../images/m-49.png') rgba(255,255,255);
}
.mw-above50{
    background: url('../images/m-50.png') rgba(255,255,255);
}
.mw-above60{
    background: url('../images/m-60.png') rgba(255,255,255);
}
.mw-great70{
    background: url('../images/m-70.png') rgba(255,255,255);
}
.wr-less50
{
    background: url('../images/wr-50kg.png') rgba(255,255,255);
}
.wr-fiftysixty
{
    background: url('../images/wr-50-60kg.png') rgba(255,255,255);
}
.wr-sixtyseventy
{
    background: url('../images/wr-60-70kg.png') rgba(255,255,255);
}
.wr-great70
{
    background: url('../images/wr-above70kg.png') rgba(255,255,255);
}

/*Age Range*/

.am-30yrs
{
    background: url('../images/m-30.png') rgba(255,255,255);
}
.am-30to35yrs
{
    background: url('../images/m-35.png') rgba(255,255,255);
}
.am-36to45yrs
{
    background: url('../images/m-45.png') rgba(255,255,255);
}
.am-46to55yrs
{
    background: url('../images/m-46.png') rgba(255,255,255);
}
.am-above55
{
    background: url('../images/m-55.png') rgba(255,255,255);
}
.aw-30yrs
{
    background: url('../images/ar-below30.png') rgba(255,255,255);
}
.aw-30to35yrs
{
    background: url('../images/ar-30-35.png') rgba(255,255,255);
}
.aw-36to45yrs
{
    background: url('../images/ar-36-45.png') rgba(255,255,255);
}
.aw-46to55yrs
{
    background: url('../images/ar-46-55.png') rgba(255,255,255);
}
.aw-above55
{
    background: url('../images/ar-above55.png') rgba(255,255,255);
}



/*sleep-position*/


.sp-y-back
{
    background: url('../images/sp-m-back.png') rgba(255,255,255);
}
.sp-y-stomach
{
    background: url('../images/sp-m-stomach.png') rgba(255,255,255);
}
.sp-y-side
{
    background: url('../images/sp-m-side.png') rgba(255,255,255);
}
.sp-y-toss
{
    background: url('../images/sp-m-allturn.gif') rgba(255,255,255);
}
.sp-p-back
{
    background: url('../images/sp-w-back.png') rgba(255,255,255);
}
.sp-p-stomach
{
    background: url('../images/sp-w-stomach.png') rgba(255,255,255);
}
.sp-p-side
{
    background: url('../images/sp-w-side.png') rgba(255,255,255);
}
.sp-p-toss
{
    background: url('../images/sp-w-allturn.gif') rgba(255,255,255);
}
#sleep-position label
{
    color: #fff; /*000*/
    font-size: 16px;
}
#sleep-position .banner-container
{
    min-height: 640px;
}

/*issues during or after sleep*/

.i-hip
{
    background: url('../images/i-hip-pain.png') rgba(255,255,255);
}
.i-shoulder
{
    background: url('../images/i-shoulder-pain.png') rgba(255,255,255);
}
.i-back
{
    background: url('../images/i-back-pain.png') rgba(255,255,255);
}
.i-none
{
    background: url('../images/i-none.png') rgba(255,255,255);
}

/*hot-cold*/
.hc-cool
{
    background: url('../images/hc-cool.png') rgba(255,255,255);
}
.hc-hot
{
    background: url('../images/hc-hot.png') rgba(255,255,255);
}
.hc-noissue
{
    background: url('../images/hc-noissues.png') rgba(255,255,255);
}


/*comfortable sleep*/

.cs-plush
{
    background: url('../images/cs-plush.png') rgba(255,255,255);
}
.cs-medium
{
    background: url('../images/cs-medium.png') rgba(255,255,255);
}
.cs-firm
{   
    background: url('../images/cs-firm.png') rgba(255,255,255);
}

.selector_img{

    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.mselector-option .radio .icons, .mselector-option .checkbox .icons {
    position: relative;
    color: #fff;
    margin: 5px auto 0;
    font-size: 16px;
}
.mselector-option .btn-default{
    padding-top:15px;
    padding-bottom: 15px;
    border-radius: 5px;
    min-width:170px;
}

.mselector-option .btn-success{
    margin-top:15px;
}

.inner-dropdown{
    padding-top:50px;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.carousel-caption {
  padding-top: 75px;
}

.section-blue .btn-primary
{
    background-color: #272729!important;
    border-color: #272729!important;
}

.col-md-3.col-sm-3.age_range 
{     
    width:  19%;     
    margin-right: 1%; 
}
.mycarsel2 p  
{        
    text-align: center;     
    color: #000;     
    padding-top: 6px;     
    line-height: 20px; 
}
.mstart {
    display: table;
    width: 100%;
}
.mstart .m-cell{
    display: table-cell;
    width: calc(100%/3);
    text-align: center;
}
.mbox {
    float: left;
    width: 100%;
    position: relative;
}
.mbox .mstart-icon {
    background: #354f71;
    display: inline-block;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;

}
.mbox .mstart-icon i{
  color: #fff;
   font-size: 50px;
}
.mbox h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    min-height: 50px;
    position: relative;
    vertical-align: middle;
    align-items: center;
}
.mbox-content {
    padding: 15px;
}
.mbox-bottom {
    padding: 20px 20px 30px 20px;
    /* background: #fff; */
    position: relative;
    clear: both;
}
.mbox-bottom .box{
    color: #fff;
}
.mstart-btn {
    bottom: 10%;
    position: absolute;
    left: 45%;
    margin: 0 auto;
    border-radius: 8px;
    background: #000;
    color: #fff;
}
.start-up .parallax {
    min-height: 100vh;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    background-size: cover;
    padding-bottom: 40px;
    background-position: center top;
}
.start-up .parallax > .background-image {
    height: 100%;
    top: 0;
    transform: none!important;
}
.start-up .parallax>.container,
.start-up .parallax>.container-fluid{
  margin: 0 auto;
}
.shidden{
    display: none !important;
}
.carousel-caption .content-heading .title{color:#fff;}
.carousel-caption .content-heading .title:before, .carousel-caption .content-heading .title:after{
    background: #fff;
}
.carousel-inner .btn-group .btn{width: 130px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;}
.carousel-inner .btn-group .left i, .carousel-inner .btn-group .next-slide i{
   position: absolute; 
   top:0;
}
.carousel-inner .btn-group .left i{
    left:15px;
}
.carousel-inner .btn-group .next-slide i{
    right: 15px;
}
.double .carousel-caption {
    padding-top: 15px;
}
.mattress-que-ans{
    background: #efefef;
    position: relative;
    width: 100%;
    padding: 40px 0;
}
#Mattress_AppendText span { 
    float: left;
    position: relative;
    font-size: 15px;
    padding: 5px 0px 5px 25px;
}
#Mattress_AppendText .ques:before {
    content: "\f12c";
    position: absolute;
    font-family: "Ionicons";
    left: -20px;
    font-size: 18px;
    line-height: 24px;
}
#Mattress_AppendText .ques .ques:before{
    content: '';
}
#Mattress_AppendText .ans{
    float:left;
    margin-right:15px;
    border-bottom: 1px dashed #8e8e8e;
    margin-left: 5px;
    color: #9c9c9c;
}
#Mattress_AppendText span span, #Mattress_AppendText span span *{padding: 0px;}
.carousel-control.left, .carousel-control.right {
    display: none;
}
.top-mattress-recommendation {
    background: #f7f7f7;
}
.related-products {
    background: #fff;
}
#mattressResult .mattress-profile .profile-img .selector_img{
    background-color: transparent;
    width: 220px;
    margin-left: -20px;
}