/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/
 @media only screen and (max-width : 320px) {
	 .salary-transfer label > span {
    color: #fff;
    padding-top: 80px;
    padding-right: 2px;
    text-align: center;
    font-size: 11px;
}
.form-inline .control-label {
     padding-right: 0px!important;
}
     .element-width-50 {
        width: 100%!important;
    }
    .carousel .carousel-inner{
    min-height: 460px;
    }
    .banner-container{
        min-height:460px;
    }
    
    .company-for {
        margin-top: 40px;
    }
    .joining-date, .business-length {
        top:40px;
    }



}

    /* Extra Small Devices, Phones */ 
@media only screen and(max-width : 480px) {
	.salary-transfer label > span {
    color: #fff;
    padding-top: 80px;
    padding-right: 2px;
    text-align: center;
    font-size: 11px;
}
.form-inline .control-label {
     padding-right: 0px!important;
}
    .element-width-50 {
        width: 25%;
    }
    .carousel-caption {
        top:0%;
    }
    .carousel .carousel-inner{
    min-height: 46px;
    }
    .banner-container{
        min-height:460px;
    }
    .company-for{
        margin-top:60px;
    }

.enquiry .form-control {
    /*width: 100%!important;*/
    height: 40px;
}
.enquiry .input-group {
    width: 70%;
    height: 40px;
    margin:0px auto;
}
    
    .joining-date label.control-label,
    .business-length label.control-label{color:#000;}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .carousel-caption {
         top: 0%;
     } 
    .form-group{width:auto;}
    .control-group [class^="md-"], .control-group [class*=" md-"] {
        float: right;
    }
    .datepicker.hasDatepicker {
        width:200px;
    }
    .element-width-50 {
        width: 65%;
    }
    .carousel .carousel-inner{   
    height:100%;
    }
    .banner-container{
        width: 750px;
        min-height:540px;
    }
    .user-experience {
        background-size: 100% 100%;
    }
    .salary-self {
        background-size: 750px 750px;
    }
    .personal-business { 
        top: 80px;
    }
    .company-for{
        display:block;
        margin-top: 40px;
    }
    .salary-transfer{
        top: 30px;
    }
    .joining-date, .business-length {
    position: relative;
    top: 275px;
    left: 25px;
    }
    .joining-date label.control-label,
    .business-length label.control-label{color:#000;}
    
    .business-length .form-group{
        position:relative;
        top:35px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .navbar-right {
        padding-top:30px;
    }
    .datepicker.hasDatepicker {
        width:250px;
    }
    .banner-container{
        width: 970px;
    }
    .element-width-25{
        width:25%;
    }
    .element-width-33 {
        width: 33%;
    }
    .element-width-50{
        width:70%!important;
    }
    .element-width-70 {
        width: 70%;
    }
    .element-width-75 {
        width: 75%!important;
    }
    .element-width-80 {
        width: 80%;
    }
    .element-width-100{
        width:100%;
    }
    .joining-date, .business-length {
    position: relative;
    top: 275px;
    left: 25px;
    }
    .joining-date label.control-label,
    .business-length label.control-label{color:#000;}
    .joining-date .form-group,
    .business-length .form-group{
        position:relative;
        top:0px;
    }
    
    .company-for{
        display:block;
        margin-top: 0px;
    }
    .salary-transfer{
        top: 30px;
    }
    .salary-self {
        background-size: 100% 900px;
    }
    #employee-type-div .label-text, #insurence-type-div .label-text, #gender .label-text{
        font-size: 18px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .element-width-50{
        width:50%!important;
    }
    .banner-container{
        width: 1170px;
    }
    #age-range .width-calc{
        width:calc(100% / 5);
    }
}

@media screen and (min-width:768px) and (max-width:1200px){
    .start-up .parallax{
        display: block;
        overflow: visible;
    }
    .mstart .m-cell{vertical-align: top;}
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width:1024px) and (max-width : 1200px) {
    /*.width-calc {
        width:50%;
        width: calc(100%/2);
    }*/
    #age-range .width-calc{
        width:33.334%;
        width: calc(100%/3);
    }
}

    /* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    .circle, .circle-1, .select-bank, .city{
        width: 100px;
        height: 100px;
    }
    .md-4x {font-size: 3em;}
    .md-2x{font-size: 1.8em;}
    .inner-text {
        padding: 0;
        font-size: 12px;
        line-height: 12px;
    }
    .inline-icon {
        top: 20px;
    }
}

    /* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .mstart{padding-top: 0}
    .left.carousel-control, .right.carousel-control{
        display: none;
    }
    .width-calc {
        width:50%;
        width: calc(100%/2);
    }
    /* .option-male, .option-female {
        width: 150px;
        height: 180px;
    } */
    
    /* .option-male, .option-female {
        background-size: 65px 180px;
    } */
    .gender-option .form-group label:first-child{
        margin-bottom: 10px;
    }
    .gender-option .btn-default {
        width:150px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .gender-option .form-group button.btn-lg{
        width:190px;
    }
    .circle, .circle-1, .select-bank, .city{
        width: 80px;
        height: 80px;
    }
    .salary, .self-employee {
    width: 128px;
    height: 128px;
    }
    .md-4x {font-size: 2em;}
    .md-2x{font-size: 1em;}
    .inner-text {
        padding: 0;
        font-size: 12px;
        line-height: 12px;
    }
    .inline-icon {
        top: 20px;
        right: 44%;
    }
    .credit-bank input[type="radio"] {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .select-bank {
        background-size: 80px 80px;
    }
    .adcb-bank, .adib-bank, .aihilal-bank, .aai-bank, .arab-bank, .barclays-bank, .cbd-bank{
         background-size: 80px 80px;
    }  
    .city-abudhabi, .city-ajman, .city-Al-ain, .city-dubai, .city-fujariah, .city-ras, .city-sharjah {
        background-size: 80px 80px;
    }
    .option-city .form-group button.btn-lg{
        width:150px;
    }
    .element-width-50{
        width:100%;
    }
    .price-form{padding:0;}
    h4.great, .help-text{
        display: block;
        text-align:center;
        width:100%;
        margin:0;
        padding:10px 5px; 
    }
    .form-pricing {
        background: transparent;
        padding: 10px;
    }
    .price-box { padding: 20px;}
    .ui-slider .ui-slider-handle { 
        width:2px;
        height:60px;
        background: #fff;
        border-radius: 0px;
        top:0px;
        margin: 0px!important;
    }
    .select-bank {
        margin-bottom:10px;
    }
    .select-bank input[type=checkbox], .select-bank input[type=radio] {
        height:16px;
    }
    .salary-transfer .form-group input.form-control{
        margin-top: 10px;
    }
    .control-group, .controls {
            float: none;
    }
    .control-group [class^="md-"], .control-group [class*=" md-"] {
        float: right;
        top: -35px;
        right:0px;
    }
    .ui-slider-pip-label.ui-slider-pip-85000000{
     display:none;        
    }
    .ui-slider-pip-label.ui-slider-pip-60000000{
     display:none;        
    }
    .ui-slider-pip-label.ui-slider-pip-35000000{
     display:none;        
    }
    .ui-slider-pip-label.ui-slider-pip-25000{
     display:none;        
    }
    .ui-slider-pip-label.ui-slider-pip-50000{
         display:none;
    }
    .ui-slider-pip-label.ui-slider-pip-75000{
         display:none;
    }
    .ui-slider-pip-label.ui-slider-pip-75000{
         display:none;
    }
    
    
}
@media only screen and (min-width: 481px) and (max-width: 767px){
    .carousel-inner > .item .option-loan .col-xs-6{
        width: 33.33333333%;
    }
    .carousel-inner > .item .option-city .col-xs-6 {
    width: 33.33333333%;
    }
    .enquiry .input-group, .enquiry .form-control
	{
		width:100%;
	}
}
    /* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .width-calc
    {
        width:100%;
    }
    
    .start-up .parallax{
        display: block;
    }

    .mstart .m-cell{
        display: block;
        width: 100%;
    }

    .mstart .mbox .mstart-icon{
        margin:15px 0;
    }
	.salary-transfer label > span {
    color: #fff;
    padding-top: 80px;
    padding-right: 2px;
    text-align: center;
    font-size: 11px;
}
  .option-salary{
    background: url('../images/mob-salaries.png') no-repeat;
   background-size: 140px 158px;
    background-position: 50% 50%;
}
.option-self{
    background: url('../images/mob-self.png') no-repeat;
   background-size: 140px 158px;
    background-position: 50% 50%;
}
	.option-salary, .option-self {
    width: 140px;
	height:175px;
	margin-left: -15px;
}
    /* .carousel-inner > .item .carousel-caption{
        right: 9%;
        left: 10%;8%
        top: 0%;
        bottom: 0%;
     } */
    .carousel .carousel-inner > .item .option-loan .col-xs-6{
        padding-left: 0px;
    }
    .carousel-inner .item .option-loan .col-xs-4,
    .carousel-inner .item .option-city .col-xs-4,
    .carousel-inner .item .credit-bank .col-xs-4{
        padding-left:0px;
        padding-right:0px;
    }      
    .option-city .circle{
        width: 80px;
        height: 80px;
    }
    .salary, .self-employee{
        width: 110px;
        height: 110px;
    }
    .salary, .self-employee {
        background-size: 60px 60px;
		    padding-top: 80px;
    }
    /* .option-male, .option-female {
        width: 128px;
            
    } */
    .gender-option .btn-default {
        min-width:128px;
        width:128px;
    }
    .inner-circle {padding: 10px 0;}
    
    .select-bank {
        background-size: 60px 60px;
    }
    .select-bank .inner-text {
        padding-top: 50px;
        font-size: 12px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .select-bank .form-control{
        height: 16px;
        box-shadow: none;
    }
    .element-width-80 {width:100%;}    
    .option-loan{padding: 10px;}
    .rounded-circle {margin-bottom: 5px;}
    .option-loan .btn-primary{
        width:170px;
    }
    .option-loan, .option-city {padding:0;}
    
    .form-horizontal .form-group {
        margin-left:0px;
        margin-right:0px;
    }
    .salary-transfer .btn-default {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .form-group .btn.btn-lg {
        min-width: 100px;
        font-size: 12px;
        padding: 10px;
    }
    label.radio-inline {
    font-size: 12px;
    }
    .inner-dropdown{
        width: 220px;
        margin-left: auto;
        margin-right:auto;
        padding-top:20px;
    }
    .salary-self {
            background: transparent;
    }
    .joining-date label.control-label, .business-length label.control-label {
        width: 100%;
    }
    .joining-date, .business-length {
        top: 80px;
    }
    .user-experience {
        background-size: 100% 100%;
    }
	h1.heading-title {
    font-size: 17px;
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}
.label-text {
    text-align: center;
    display: block;
   /*  width: 106px; */
}
    .enquiry .input-group, .enquiry .form-control
	{
		width:100%;
	}   
}
@media only screen and (max-width : 360px) {
	.enq_privacypar
	{
		font-size:13px;
		line-height:18px;
	}
	.enquiry .input-group, .enquiry .form-control
	{
		width:100%;
	}
}
    /* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	h1.heading-title {
    font-size: 15px;
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}
	.salary-transfer label > span {
    color: #fff;
    padding-top: 68px;
    padding-right: 2px;
    text-align: center;
    font-size: 9px;
}
    .gender-option .btn-default {
        min-width:108px;
        width:108px;
    }
    .option-salary{
    background: url('../images/mob-salaries.png') no-repeat;
   background-size: 130px 160px;
    background-position: 50% 50%;
}
.option-self{
    background: url('../images/mob-self.png') no-repeat;
   background-size: 130px 160px;
    background-position: 50% 50%;
}
	.option-salary, .option-self {
    width: 130px;
	height:160px;
	margin-left: -15px;
}
.label-text {
    text-align: center;
    display: block;
    width: 100px;
}
#employee-type-div .label-text {
    text-align: center;
    display: block;
    width: 106px;
}
    .control-group input.form-control{
        margin-top: 10px;
    }
    .enquiry .input-group{
        margin-top: 10px;
    }
    .datepicker.hasDatepicker {
        width:auto;
    }
    .salary-self {
        background: transparent;
    }
    .personal-business .form-group .form-control{
        margin-top:15px;
    }
    .carousel .carousel-inner{
        min-height: 410px;
    }
    .banner-container{  
        min-height:410px;
    }
    .joining-date, .business-length {
       top: 50px;
    }
    .company-for {
    margin-top: 0px;
    }
	.enq_privacypar
	{
		font-size:13px;
		line-height:18px;
	}
    .enquiry .checkbox-inline
	{
		font-size:13px!important;
	}
	.carousel-inner > .item .mycarsel{
        left: 6%!important;/*8%*/
    }
	.carousel-inner > .item .mycarsel1{
        left: 7%!important;/*8%*/
    }
	.carousel-inner > .item .mycarsel2{
        left: 5%!important;/*8%*/
    }
	.enquiry .input-group, .enquiry .form-control
	{
		width:100%;
	}
}

.radio-inline input[type="radio"] { margin-left: -11px; }
@media screen and (device-width: 360px)  and (device-height: 640px)  {
.banner-container{
        width: 750px;
        min-height:410px;
    }
.enquiry .input-group {
        margin: 3px 0px !important;
}
.enquiry .form-group {
    margin: 0px 0px 5px !important;
}
.input-group {margin-top: 15px;}
.enquiry .input-group, .enquiry .form-control{width:100%;}
}

@media screen and (device-width: 320px)  {
.banner-container{
        width: 750px;
        min-height:410px;
    }
.enquiry .input-group {
        margin: 3px 0px !important;
}
.enquiry .form-group {
    margin: 0px 0px 5px !important;
}
.radio-inline input[type="radio"] { margin-left: -6px; }
.input-group {margin-top: 15px;}
}