.store-list-container .search-form{
    border:1px solid #f0f0f0;
    margin-bottom:30px;
    border-radius:0 0 4px 4px;
    -webkit-border-radius:0px 0px 4px 4px;
    -moz-border-radius:0px 0px 4px 4px;
    -o-border-radius:0px 0px 4px 4px;
    padding:16px 20px 20px
}
.store-list-container .search-form .block-title .title{
    font-weight:500;
    color:#222;
    font-size:20px;
    margin-bottom:13px;
    border-bottom:1px solid #ddd
}
.store-list-container .search-form .btn{
    min-width:150px
}
.store-list-container .store-list{
    border:1px solid #ddd;
    margin-bottom:30px;
    border-radius:0 0 4px 4px;
    -webkit-border-radius:0px 0px 4px 4px;
    -moz-border-radius:0px 0px 4px 4px;
    -o-border-radius:0px 0px 4px 4px;
    padding:16px 20px 20px;
    position: relative;
    overflow: hidden;
}
.store-list-container .store-list .block-title .title{
    font-weight:500;
    color:#222;
    font-size:20px;
    margin-bottom:13px;
    border-bottom:1px solid #ddd
}
.store-list-container .store-list #panel{
    max-height:600px;
    overflow-y:auto;
    overflow-x:hidden
}
.store-list-container .store-list .items .stores li{
    margin-bottom:15px;
    padding-bottom:15px;
    border-bottom:1px solid #ddd
}
.store-list-container .store-list .items .stores li .store-content:after{
    content:"";
    display:table;
    clear:both
}
.store-list-container .store-list .items .stores li .store-content .store-logo{
    display:block;
    float:left;
    width:100px;
    padding-top:9px
}
.store-list-container .store-list .items .stores li .store-content .description{
    float:left;
    padding-left:15px;
    width: 100%;
   /*  width:calc(100% - 100px) */
}
.store-list-container .store-list .items .stores li .store-content .description h4 a{
    font-weight:500;
    color:#222;
    font-size:16px;
    margin-bottom:10px
}
.store-list-container .store-list .items .stores li .store-content .description h4 a:hover{
    color:#56cfe1
}
#store-list-map{
    height:700px;
    width:100%;
    border:1px solid #ccc
}
.locator-index-view .footer{
    margin-top:0
}
.storelocator-details .box-store{
    border:1px solid #f0f0f0;
    border-radius:0 0 4px 4px;
    -webkit-border-radius:0px 0px 4px 4px;
    -moz-border-radius:0px 0px 4px 4px;
    -o-border-radius:0px 0px 4px 4px;
    padding:16px 20px 20px
}
.storelocator-details .box-store .block-title .title{
    font-weight:500;
    color:#222;
    font-size:20px;
    margin-bottom:20px;
    border-bottom:1px solid #ddd
}
.storelocator-details .box-store .store-image{
    margin-bottom:30px
}
.storelocator-details .box-store table{
    width:100%;
    margin-bottom:0
}
.storelocator-details .box-store table tr td,.storelocator-details .box-store table tr th{
    border:1px solid #eee;
    padding:10px
}
.storelocator-details .box-store table tr td:first-child{
    color:#2a2a2a
}
#map-detail{
    height:450px;
    border:1px solid #f0f0f0
}
.map-short-info{
    padding:3px 0 4px
}
.map-short-info h3{
    font-weight:500;
    color:#222;
    font-size:20px;
    margin-bottom:13px;
    border-bottom:1px solid #ddd
}
@media (max-width:991px){
    #store-list-map{
        margin-top:40px;
        height:400px
    }
}
@media (max-width:767px){
    .box-store-content .portfolio-table tr{
        border:1px solid #f0f0f0;
        padding:15px;
        display:block
    }
    .box-store-content .portfolio-table tr+tr{
        border-top:none
    }
    .box-store-content .portfolio-table tr td{
        display:block;
        padding:0 !important;
        border:none !important;
        background:0 0 !important
    }
    #show-all-store .btn{
        width:100%
    }
}
@media (max-width:500px){
    .store-list-container .search-form .col-xs-6{
        width:100%
    }
}
